﻿/*TGMP*/
.avatar-src-style{border: 1px solid #dfdfdf;padding: 5px;background: #FFF;border-radius: 5px;}
.delete-me i {    border: 1px solid #999;
    color: #999;
    padding: 5px 10px;}
.elm-display-none{ display:none !important;}
.backgroud-image{ position:relative;}
.delete-auhtor-media{
	position: absolute;
    left: 18px;
    background: #363636;
    border-radius: 100%;
    width: 18px;
    height: 19px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    top: 23px;
}
.delete-auhtor-media:hover{color:#FFF;}

.tg-themeform {
	width: 100%;
	float: left;
}
.tg-themeform fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
.tg-radio, .tg-radio label,
.tg-checkbox, .tg-checkbox label {
	width: 100%;
	float: left;
	margin: 0;
	position: relative;
}
.tg-radio,
.tg-radio label,
.tg-checkbox,
.tg-checkbox label {
	width: 100%;
	float: left;
	margin: 0;
	position: relative;
}
.tg-radio label,
.tg-checkbox label {
	cursor: pointer;
	display: block;
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-radio input[type=radio],
.tg-checkbox input[type=checkbox] {display: none;}
.tg-radio input[type=radio] + label:before,
.tg-checkbox input[type=checkbox] + label:before {
	top: 4px;
	left: 0;
	color: #999;
	font-size: 14px;
	line-height: 12px;
	content: '\f096';
	position: absolute;
	font-family: 'FontAwesome';
}
.tg-checkbox input[type=checkbox]:checked + label:before {content: '\f046';}
.tg-btn {
	z-index: 3;
	color: #fff;
	padding: 0 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	border-radius: 5px;
	background: #5dc560;
	display: inline-block;
	vertical-align: middle;
	text-transform: capitalize;
	font: 400 14px/40px 'Work Sans', Arial, Helvetica, sans-serif;
}
.form-control{
	margin: 0;
	color: #000;
	width: 100%;
	height: 40px;
	outline: none;
	background: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 18px;
	border-radius: 5px;
	vertical-align: top;
	display: inline-block;
	box-shadow: none !important;
	border: 1px solid #ddd !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-pleasenone{margin: 0;}
.form-group{
	width: 100%;
	float: left;
	margin: 0 0 20px;
	position: relative;
}
.tg-select {
	width: 100%;
	float: left;
	color: #999;
	position: relative;
	text-transform: uppercase;
}
.tg-select:after {
	top: 50%;
	right: 15px;
	z-index: 2;
	width: 8px;
	color: #999;
	font-size: 14px;
	margin: -3px 0 0;
	line-height: 6px;
	content: '\f107';
	position: absolute;
	text-align: center;
	font-family: 'FontAwesome';
}
.tg-select select {
	z-index: 1;
	width: 100%;
	color: #999;
	background: #fff;
	line-height: 30px;
	padding: 5px 15px;
	position: relative;
	border-radius: 5px;
	height: 40px !important;
	text-transform: capitalize;
	box-shadow: none !important;
	border: 1px solid #ddd !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.locate-me-wrap {position: relative;}
.locate-me-wrap .geolocate {
	top: 50%;
	right: 10px;
	width: 16px;
	height: 16px;
	margin: -8px 0 0;
	line-height: 16px;
	position: absolute;
}
.tg-iosstylcheckbox {
	width: 80px;
	float: right;
	position: relative;
}
.tg-iosstylcheckbox input[type=checkbox],
.tg-iosstylcheckbox input[type=checkbox]:active { display: none; }
.tg-iosstylcheckbox label {
	margin: 0;
	width: 100%;
	height: 18px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	font-size: 12px;
	line-height: 18px;
	position: relative;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-iosstylcheckbox label:before {
	top: 1px;
	right: 0;
	z-index: 1;
	color: #5dc560;
	content: '\f204';
	font-size: 18px;
	font-family: 'FontAwesome';
	line-height: 18px;
	display: block;
	position: absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-iosstylcheckbox label:after {
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	color: #919191;
	display: block;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	position: absolute;
	white-space: nowrap;
	content: attr(data-disable);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-iosstylcheckbox input[type=checkbox]:checked + label {
	border-color: #5dc560;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-iosstylcheckbox input[type=checkbox]:checked + label:before {
	content: '\f205';
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-iosstylcheckbox input[type=checkbox]:checked + label:after {
	color: #333;
	content: attr(data-enable);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.sp-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 768px) {
	.sp-container { width: 750px; }
}
@media (min-width: 992px) {
	.sp-container { width: 970px; }
}
@media (min-width: 1200px) {
	.sp-container { width: 1170px; }
}
.sp-container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.sp-row {
	margin-left: -15px;
	margin-right: -15px;
}
.sp-xs-1, .sp-sm-1, .sp-md-1, .sp-lg-1, .sp-xs-2, .sp-sm-2, .sp-md-2, .sp-lg-2, .sp-xs-3, .sp-sm-3, .sp-md-3, .sp-lg-3,
.sp-xs-4, .sp-sm-4, .sp-md-4, .sp-lg-4, .sp-xs-5, .sp-sm-5, .sp-md-5, .sp-lg-5, .sp-xs-6, .sp-sm-6, .sp-md-6, .sp-lg-6,
.sp-xs-7, .sp-sm-7, .sp-md-7, .sp-lg-7, .sp-xs-8, .sp-sm-8, .sp-md-8, .sp-lg-8, .sp-xs-9, .sp-sm-9, .sp-md-9, .sp-lg-9,
.sp-xs-10, .sp-sm-10, .sp-md-10, .sp-lg-10, .sp-xs-11, .sp-sm-11, .sp-md-11, .sp-lg-11, .sp-xs-12, .sp-sm-12, .sp-md-12,
.sp-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sp-xs-1, .sp-xs-2, .sp-xs-3, .sp-xs-4, .sp-xs-5, .sp-xs-6, .sp-xs-7, .sp-xs-8, .sp-xs-9, .sp-xs-10, .sp-xs-11, .sp-xs-12 { float: left; }
.sp-xs-12 { width: 100%; }
.sp-xs-11 { width: 91.66666667%; }
.sp-xs-10 { width: 83.33333333%; }
.sp-xs-9 { width: 75%; }
.sp-xs-8 { width: 66.66666667%; }
.sp-xs-7 { width: 58.33333333%; }
.sp-xs-6 { width: 50%; }
.sp-xs-5 { width: 41.66666667%; }
.sp-xs-4 { width: 33.33333333%; }
.sp-xs-3 { width: 25%; }
.sp-xs-2 { width: 16.66666667%; }
.sp-xs-1 { width: 8.33333333%; }
.sp-xs-pull-12 { right: 100%; }
.sp-xs-pull-11 { right: 91.66666667%; }
.sp-xs-pull-10 { right: 83.33333333%; }
.sp-xs-pull-9 { right: 75%; }
.sp-xs-pull-8 { right: 66.66666667%; }
.sp-xs-pull-7 { right: 58.33333333%; }
.sp-xs-pull-6 { right: 50%; }
.sp-xs-pull-5 { right: 41.66666667%; }
.sp-xs-pull-4 { right: 33.33333333%; }
.sp-xs-pull-3 { right: 25%; }
.sp-xs-pull-2 { right: 16.66666667%; }
.sp-xs-pull-1 { right: 8.33333333%; }
.sp-xs-pull-0 { right: auto; }
.sp-xs-push-12 { left: 100%; }
.sp-xs-push-11 { left: 91.66666667%; }
.sp-xs-push-10 { left: 83.33333333%; }
.sp-xs-push-9 { left: 75%; }
.sp-xs-push-8 { left: 66.66666667%; }
.sp-xs-push-7 { left: 58.33333333%; }
.sp-xs-push-6 { left: 50%; }
.sp-xs-push-5 { left: 41.66666667%; }
.sp-xs-push-4 { left: 33.33333333%; }
.sp-xs-push-3 { left: 25%; }
.sp-xs-push-2 { left: 16.66666667%; }
.sp-xs-push-1 { left: 8.33333333%; }
.sp-xs-push-0 { left: auto; }
.sp-xs-offset-12 { margin-left: 100%; }
.sp-xs-offset-11 { margin-left: 91.66666667%; }
.sp-xs-offset-10 { margin-left: 83.33333333%; }
.sp-xs-offset-9 { margin-left: 75%; }
.sp-xs-offset-8 { margin-left: 66.66666667%; }
.sp-xs-offset-7 { margin-left: 58.33333333%; }
.sp-xs-offset-6 { margin-left: 50%; }
.sp-xs-offset-5 { margin-left: 41.66666667%; }
.sp-xs-offset-4 { margin-left: 33.33333333%; }
.sp-xs-offset-3 { margin-left: 25%; }
.sp-xs-offset-2 { margin-left: 16.66666667%; }
.sp-xs-offset-1 { margin-left: 8.33333333%; }
.sp-xs-offset-0 { margin-left: 0%; }
@media (min-width: 768px) {
	.sp-sm-1, .sp-sm-2, .sp-sm-3, .sp-sm-4, .sp-sm-5, .sp-sm-6, .sp-sm-7, .sp-sm-8, .sp-sm-9, .sp-sm-10, .sp-sm-11, .sp-sm-12 { float: left; }
	.sp-sm-12 { width: 100%; }
	.sp-sm-11 { width: 91.66666667%; }
	.sp-sm-10 { width: 83.33333333%; }
	.sp-sm-9 { width: 75%; }
	.sp-sm-8 { width: 66.66666667%; }
	.sp-sm-7 { width: 58.33333333%; }
	.sp-sm-6 { width: 50%; }
	.sp-sm-5 { width: 41.66666667%; }
	.sp-sm-4 { width: 33.33333333%; }
	.sp-sm-3 { width: 25%; }
	.sp-sm-2 { width: 16.66666667%; }
	.sp-sm-1 { width: 8.33333333%; }
	.sp-sm-pull-12 { right: 100%; }
	.sp-sm-pull-11 { right: 91.66666667%; }
	.sp-sm-pull-10 { right: 83.33333333%; }
	.sp-sm-pull-9 { right: 75%; }
	.sp-sm-pull-8 { right: 66.66666667%; }
	.sp-sm-pull-7 { right: 58.33333333%; }
	.sp-sm-pull-6 { right: 50%; }
	.sp-sm-pull-5 { right: 41.66666667%; }
	.sp-sm-pull-4 { right: 33.33333333%; }
	.sp-sm-pull-3 { right: 25%; }
	.sp-sm-pull-2 { right: 16.66666667%; }
	.sp-sm-pull-1 { right: 8.33333333%; }
	.sp-sm-pull-0 { right: auto; }
	.sp-sm-push-12 { left: 100%; }
	.sp-sm-push-11 { left: 91.66666667%; }
	.sp-sm-push-10 { left: 83.33333333%; }
	.sp-sm-push-9 { left: 75%; }
	.sp-sm-push-8 { left: 66.66666667%; }
	.sp-sm-push-7 { left: 58.33333333%; }
	.sp-sm-push-6 { left: 50%; }
	.sp-sm-push-5 { left: 41.66666667%; }
	.sp-sm-push-4 { left: 33.33333333%; }
	.sp-sm-push-3 { left: 25%; }
	.sp-sm-push-2 { left: 16.66666667%; }
	.sp-sm-push-1 { left: 8.33333333%; }
	.sp-sm-push-0 { left: auto; }
	.sp-sm-offset-12 { margin-left: 100%; }
	.sp-sm-offset-11 { margin-left: 91.66666667%; }
	.sp-sm-offset-10 { margin-left: 83.33333333%; }
	.sp-sm-offset-9 { margin-left: 75%; }
	.sp-sm-offset-8 { margin-left: 66.66666667%; }
	.sp-sm-offset-7 { margin-left: 58.33333333%; }
	.sp-sm-offset-6 { margin-left: 50%; }
	.sp-sm-offset-5 { margin-left: 41.66666667%; }
	.sp-sm-offset-4 { margin-left: 33.33333333%; }
	.sp-sm-offset-3 { margin-left: 25%; }
	.sp-sm-offset-2 { margin-left: 16.66666667%; }
	.sp-sm-offset-1 { margin-left: 8.33333333%; }
	.sp-sm-offset-0 { margin-left: 0%; }
}
@media (min-width: 992px) {
	.sp-md-1, .sp-md-2, .sp-md-3, .sp-md-4, .sp-md-5, .sp-md-6, .sp-md-7, .sp-md-8, .sp-md-9, .sp-md-10, .sp-md-11, .sp-md-12 { float: left; }
	.sp-md-12 { width: 100%; }
	.sp-md-11 { width: 91.66666667%; }
	.sp-md-10 { width: 83.33333333%; }
	.sp-md-9 { width: 75%; }
	.sp-md-8 { width: 66.66666667%; }
	.sp-md-7 { width: 58.33333333%; }
	.sp-md-6 { width: 50%; }
	.sp-md-5 { width: 41.66666667%; }
	.sp-md-4 { width: 33.33333333%; }
	.sp-md-3 { width: 25%; }
	.sp-md-2 { width: 16.66666667%; }
	.sp-md-1 { width: 8.33333333%; }
	.sp-md-pull-12 { right: 100%; }
	.sp-md-pull-11 { right: 91.66666667%; }
	.sp-md-pull-10 { right: 83.33333333%; }
	.sp-md-pull-9 { right: 75%; }
	.sp-md-pull-8 { right: 66.66666667%; }
	.sp-md-pull-7 { right: 58.33333333%; }
	.sp-md-pull-6 { right: 50%; }
	.sp-md-pull-5 { right: 41.66666667%; }
	.sp-md-pull-4 { right: 33.33333333%; }
	.sp-md-pull-3 { right: 25%; }
	.sp-md-pull-2 { right: 16.66666667%; }
	.sp-md-pull-1 { right: 8.33333333%; }
	.sp-md-pull-0 { right: auto; }
	.sp-md-push-12 { left: 100%; }
	.sp-md-push-11 { left: 91.66666667%; }
	.sp-md-push-10 { left: 83.33333333%; }
	.sp-md-push-9 { left: 75%; }
	.sp-md-push-8 { left: 66.66666667%; }
	.sp-md-push-7 { left: 58.33333333%; }
	.sp-md-push-6 { left: 50%; }
	.sp-md-push-5 { left: 41.66666667%; }
	.sp-md-push-4 { left: 33.33333333%; }
	.sp-md-push-3 { left: 25%; }
	.sp-md-push-2 { left: 16.66666667%; }
	.sp-md-push-1 { left: 8.33333333%; }
	.sp-md-push-0 { left: auto; }
	.sp-md-offset-12 { margin-left: 100%; }
	.sp-md-offset-11 { margin-left: 91.66666667%; }
	.sp-md-offset-10 { margin-left: 83.33333333%; }
	.sp-md-offset-9 { margin-left: 75%; }
	.sp-md-offset-8 { margin-left: 66.66666667%; }
	.sp-md-offset-7 { margin-left: 58.33333333%; }
	.sp-md-offset-6 { margin-left: 50%; }
	.sp-md-offset-5 { margin-left: 41.66666667%; }
	.sp-md-offset-4 { margin-left: 33.33333333%; }
	.sp-md-offset-3 { margin-left: 25%; }
	.sp-md-offset-2 { margin-left: 16.66666667%; }
	.sp-md-offset-1 { margin-left: 8.33333333%; }
	.sp-md-offset-0 { margin-left: 0%; }
}
@media (min-width: 1200px) {
	.sp-lg-1, .sp-lg-2, .sp-lg-3, .sp-lg-4, .sp-lg-5, .sp-lg-6, .sp-lg-7, .sp-lg-8, .sp-lg-9, .sp-lg-10, .sp-lg-11, .sp-lg-12 { float: left; }
	.sp-lg-12 { width: 100%; }
	.sp-lg-11 { width: 91.66666667%; }
	.sp-lg-10 { width: 83.33333333%; }
	.sp-lg-9 { width: 75%; }
	.sp-lg-8 { width: 66.66666667%; }
	.sp-lg-7 { width: 58.33333333%; }
	.sp-lg-6 { width: 50%; }
	.sp-lg-5 { width: 41.66666667%; }
	.sp-lg-4 { width: 33.33333333%; }
	.sp-lg-3 { width: 25%; }
	.sp-lg-2 { width: 16.66666667%; }
	.sp-lg-1 { width: 8.33333333%; }
	.sp-lg-pull-12 { right: 100%; }
	.sp-lg-pull-11 { right: 91.66666667%; }
	.sp-lg-pull-10 { right: 83.33333333%; }
	.sp-lg-pull-9 { right: 75%; }
	.sp-lg-pull-8 { right: 66.66666667%; }
	.sp-lg-pull-7 { right: 58.33333333%; }
	.sp-lg-pull-6 { right: 50%; }
	.sp-lg-pull-5 { right: 41.66666667%; }
	.sp-lg-pull-4 { right: 33.33333333%; }
	.sp-lg-pull-3 { right: 25%; }
	.sp-lg-pull-2 { right: 16.66666667%; }
	.sp-lg-pull-1 { right: 8.33333333%; }
	.sp-lg-pull-0 { right: auto; }
	.sp-lg-push-12 { left: 100%; }
	.sp-lg-push-11 { left: 91.66666667%; }
	.sp-lg-push-10 { left: 83.33333333%; }
	.sp-lg-push-9 { left: 75%; }
	.sp-lg-push-8 { left: 66.66666667%; }
	.sp-lg-push-7 { left: 58.33333333%; }
	.sp-lg-push-6 { left: 50%; }
	.sp-lg-push-5 { left: 41.66666667%; }
	.sp-lg-push-4 { left: 33.33333333%; }
	.sp-lg-push-3 { left: 25%; }
	.sp-lg-push-2 { left: 16.66666667%; }
	.sp-lg-push-1 { left: 8.33333333%; }
	.sp-lg-push-0 { left: auto; }
	.sp-lg-offset-12 { margin-left: 100%; }
	.sp-lg-offset-11 { margin-left: 91.66666667%; }
	.sp-lg-offset-10 { margin-left: 83.33333333%; }
	.sp-lg-offset-9 { margin-left: 75%; }
	.sp-lg-offset-8 { margin-left: 66.66666667%; }
	.sp-lg-offset-7 { margin-left: 58.33333333%; }
	.sp-lg-offset-6 { margin-left: 50%; }
	.sp-lg-offset-5 { margin-left: 41.66666667%; }
	.sp-lg-offset-4 { margin-left: 33.33333333%; }
	.sp-lg-offset-3 { margin-left: 25%; }
	.sp-lg-offset-2 { margin-left: 16.66666667%; }
	.sp-lg-offset-1 { margin-left: 8.33333333%; }
	.sp-lg-offset-0 { margin-left: 0%; }
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .sp-row:before, .sp-row:after {
	content: " ";
	display: table;
}
.clearfix:after, .container:after, .container-fluid:after, .sp-row:after { clear: both; }
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-right { float: right !important; }
.pull-left { float: left !important; }
.hide { display: none !important; }
.show { display: block !important; }
.invisible { visibility: hidden; }
.template-line {
	display: block;
	margin: 0.5em 0.5em 0 0;
	clear: both;
}
.tgmp-version {
	float: right;
	padding: 0em 1.5em 0.5em 0;
}
.tgmp-version-style {
	min-width: 32px;
	text-align: right;
	float: right;
}

#fw-options-tab-directory .fw-options-tabs-list { padding: 0 15px 15px 15px; }
#fw-options-tab-email_settings .fw-options-tabs-contents .fw-options-tabs-list{padding: 15px 15px 0 15px;}
.tg-dashboardbox {
	width: 100%;
	float: left;
	margin: 0 0 30px;
}
.tg-upload {
	width: 100%;
	float: left;
	background: #fcfcfc;
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #ddd;
}
.tg-uploadhead {
	width: 100%;
	float: left;
	min-height: 46px;
	padding: 13px 20px;
	position: relative;
	border-radius: 5px 5px 0 0;
	background: #5dc560;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-uploadhead span {
	float: left;
	color: #fff;
}
.tg-uploadhead h3 {
	color: #fff;
	float: left;
	font-size: 14px;
	line-height: 20px;
	margin:0 5px 0 0;
	margin-top:0px !important;
}

.tg-upload .tg-box {
	padding: 10px;
	border-radius: 0;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-box {
	width: 100%;
	float: left;
	padding: 20px;
	background: #fff;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-fileuploadlabel {
	float: left;
	width: 100%;
	height: 190px;
	color: #c6c6c6;
	cursor: pointer;
	margin: 0 0 10px;
	border-radius: 5px;
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.sp-upload-container {
	width: 100%;
	float: left;
	padding: 15px;
	color: #c6c6c6;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-fileuploadlabel i {
	display: block;
	font-size: 100px;
	line-height: 60px;
	margin: 0 0 15px;
}
.tg-fileuploadlabel span { display: block; }
.tg-box .tg-gallery {
	width: 100%;
	float: left;
	overflow: hidden;
}
.tg-galleryimages {
	clear: both;
	margin: -3px;
	overflow: hidden;
}
.tg-galleryimg {
	margin: 0;
	float: left;
	width: 12.50%;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-galleryimg figure {
	margin: 0;
	width: 100%;
	float: left;
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}
.tg-galleryimg figure img {
	width: 100%;
	height: auto;
	display: block;
	opacity: 0.30;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-galleryimg figure:hover img {opacity: 1;}
.tg-galleryimg figure figcaption {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 10px;
	visibility: hidden;
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-galleryimg figure figcaption i {
	width: 20px;
	height: 20px;
	float: left;
	color: #fff;
	display: block;
	cursor: pointer;
	font-size: 10px;
	line-height: 19px;
	text-align: center;
	border-radius: 50%;
}
.tg-galleryimg figure figcaption .fa-close {
	float: right;
	background: #ef5350;
}
.tg-galleryimg figure figcaption .fa-check {background: #5dc560;}
.tg-galleryimg figure:hover figcaption {
	opacity: 1;
	visibility: visible;
}
.tg-uploadhead > i {
	top: 0;
	right: 0;
	width: 46px;
	height: 46px;
	color: #fff;
	display: block;
	line-height: 46px;
	position: absolute;
	text-align: center;
	border-radius: 0 5px 0 0;
	background: rgba(0,0,0,0.10);
}
.tg-locationbox {
	width: 100%;
	float: left;
}
.locate-me-wrap .form-control {
	padding-right: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.location-pickr-map {
	width: 100%;
	float: left;
	height: 400px;
}
.elm-display-none { display: none; }
.loc-inner-wrap{
	width: 100%;
	float: left;
}
.tg-languagesbox,
.tg-amenitiesfeaturesbox{
	width: 100%;
	float: left;
	padding: 20px;
	position: relative;
	border-radius: 5px;
	background: #fcfcfc;
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-languagesbox .form-group,
.tg-amenitiesfeaturesbox .form-group{
	margin: 0;
	padding: 0 172px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-languagesbox .form-group .tg-btn,
.tg-amenitiesfeaturesbox .form-group .tg-btn {
	top: 0;
	right: 0;
	z-index: 2;
	position: absolute;
}
.tg-tagdashboardlist{
	margin: -5px;
	clear: both;
	overflow: hidden;
	padding: 15px 0 0;
}
.tg-tagdashboardlist li{
	margin: 0;
	float: left;
	padding: 5px;
	position: relative;
	line-height: inherit;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-tagdashboard {
	color: #333;
	display: block;
	position: relative;
	border-radius: 5px;
	background: #eaeaea;
}
.tg-tagdashboard i {
	top: 0;
	right: 0;
	z-index: 2;
	color: #fff;
	width: 18px;
	height: 18px;
	font-size: 10px;
	line-height: 17px;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	background: #ef5350;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.tg-tagdashboard em {
	z-index: 1;
	display: block;
	padding: 5px 20px;
	font-style: normal;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-tagdashboard:hover i {
	top: -9px;
	right: -9px;
	opacity: 1;
	visibility: visible;
}
.tg-dashboardbox .tg-dashboardtitle {
	width: 100%;
	float: left;
	padding: 0 0 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-dashboardbox .tg-dashboardtitle h2 {
	margin: 0;
	float: left;
	font-size: 18px;
	line-height: 20px;
}
.tg-certificatesawardsbox,
.tg-experincesbox {
	width: 100%;
	float: left;
}
.tg-btnaddnew {
	float: right;
	color: #42a5f5;
	font-size: 14px;
	line-height: 20px;
	text-transform: capitalize;
}
.tg-certificatesaward,
.tg-experiences {
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
.tg-certificatesawardsbox .tg-certificatesaward:nth-child(odd),
.tg-certificatesawardsbox .tg-experiences:nth-child(odd) {background: #fcfcfc;}
.tg-certificatesawardsbox .tg-certificatesaward,
.tg-certificatesawardsbox .tg-experiences {border-bottom: 1px solid #ddd;}
.tg-imgandtitle {
	float: left;
	padding: 10px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-imgandtitle figure {
	width: 40px;
	overflow: hidden;
	margin: 0 4px 0 0;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.tg-imgandtitle figure a,
.tg-imgandtitle figure a img {
	display: block;
	border-radius: 50%;
}
.tg-imgandtitle figure a img{
	width: 100%;
	height: auto;
}
.tg-imgandtitle h3 {
	margin: 0;
	font-size: 14px;
	line-height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.tg-imgandtitle h3 a {
	color: #333;
	text-decoration: none;
}
.tg-btntimeedit {
	float: right;
	text-align: left;
}
.tg-btnedite,
.tg-btndel {
	border: 0;
	color: #fff;
	width: 50px;
	height: 50px;
	float: left;
	display: block;
	font-size: 16px;
	line-height: 50px;
	background: #333;
	text-align: center;
	-webkit-transition: all 800ms ease-in;
	-moz-transition: all 800ms ease-in;
	-ms-transition: all 800ms ease-in;
	-o-transition: all 800ms ease-in;
	transition: all 800ms ease-in;
}
.tg-btndel {background: #ef5350;}
.tg-certificatesaward .tg-btntimeedit .tg-btnedite,
.tg-certificatesaward .tg-btntimeedit .tg-btndel {
	width: 60px;
	height: 60px;
	line-height: 60px;
}
.tg-btntimeedit .tg-btndel,
.tg-btntimeedit .tg-btnedite {
	right: -100px;
	position: absolute;
	-webkit-transition: all 800ms ease-in;
	-moz-transition: all 800ms ease-in;
	-ms-transition: all 800ms ease-in;
	-o-transition: all 800ms ease-in;
	transition: all 800ms ease-in;
}
.tg-dashboardappointment:hover .tg-btntimeedit .tg-btndel,
.tg-certificatesaward:hover .tg-btntimeedit .tg-btndel {right: 0;}
.tg-dashboardappointment:hover .tg-btntimeedit .tg-btnedite,
.tg-certificatesaward:hover .tg-btntimeedit .tg-btnedite,
.tg-dashboardappointment:hover .tg-btntimeedit .tg-btnedite {right: 60px;}
.tg-qualification .tg-imgandtitle,
.tg-experience .tg-imgandtitle {padding: 20px;}
.tg-videogallerybox {
	width: 100%;
	float: left;
	padding: 20px;
	border-radius: 5px;
	background: #fcfcfc;
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-startendtime {
	width: 100%;
	float: left;
	position: relative;
	padding: 0 60px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-addtimeslot {
	top: 0;
	right: 0;
	border: 0;
	color: #999;
	width: 40px;
	height: 40px;
	cursor: pointer;
	font-size: 24px;
	line-height: 40px;
	border-radius: 5px;
	background: #f7f7f7;
	position: absolute;
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	-webkit-transition: all 800ms ease-in;
	-moz-transition: all 800ms ease-in;
	-ms-transition: all 800ms ease-in;
	-o-transition: all 800ms ease-in;
	transition: all 800ms ease-in;
}
.tg-addtimeslot.add-new-videoslot:hover{
	color: #fff;
	background: #5dc560;
}
.tg-deleteslot {
	color: #fff;
	font-size: 14px;
	background: #ef5350;
}
.tg-videogallerybox .lnr-film-play {
	top: 0;
	right: 0;
	z-index: 2;
	width: 40px;
	height: 40px;
	display: block;
	line-height: 40px;
	position: absolute;
	text-align: center;
}
.sp-profile-brochure .file_icon {
	font-size: 20px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.brochure-item .tg-tagdashboard em {padding-left: 30px;}
.tg-tagdashboard em {
	z-index: 1;
	display: block;
	padding: 5px 20px;
	font-style: normal;
	position: relative;
}
#confirmOverlay{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	overflow: hidden;
	background: rgba(0,0,0,0.60);
}
.sp-awards-edit-collapse{
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-formcertificatesawards textarea {
	resize: none;
	height: 180px;
}
.tg-formexperience,
.tg-formqualification{
	width: 100%;
	float: left;
	padding: 0 0 20px;
}
.tg-formqualification{padding: 20px 0;}
.tg-formexperience textarea.form-control,
.tg-formqualification textarea.form-control{
	resize: none;
	height: 180px;
}
.tg-businesshourssbox{
	width: 100%;
	float: left;
	background: #fff;
	border-radius: 5px;
	padding: 20px 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-businesshourssbox + .tg-businesshourssbox{margin: 20px 0 0;}
.time-slot-wrap{
	width: 100%;
	float: left;
}
.tg-startendtime .form-group{
	width: 50%;
	float: left;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-videogallerybox .tg-startendtime .form-group{
	padding: 0;
	width: 100%;
}
.tg-startendtime .form-group .lnr-clock{
	top: 0;
	z-index: 2;
	width: 40px;
	right: 15px;
	text-align: center;
	line-height: 40px;
	position: absolute;
}
.tg-daychckebox{
	width: 100%;
	float: left;
}
.tg-daychckebox h3{margin: 0 0 15px;}
.tg-daychckebox .tg-checkbox{width: auto;}
.tg-dashboardmanageservices{
	width: 100%;
	float: left;
	padding: 30px 0 40px;
}
.tg-dashboardhead {
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.tg-dashboardtitle {float: left;}
.tg-dashboardtitle h2{margin: 0;}
.tg-btnaddservices {
	border: 0;
	float: right;
	display: block;
	color: #42a5f5;
	cursor: pointer;
	background: none;
	line-height: 17px;
}
.tg-formaddservices,
.tg-dashboardservices.sp-services-wrap{
	width: 100%;
	float: left;
}
.tg-dashboardservice:nth-child(odd) {background: #fcfcfc;}
.tg-dashboardservice:nth-child(even) {background: #fff;}
.tg-dashboardservice {
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.tg-servicetitle {
	float: left;
	text-align: left;
	padding: 15px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-servicetitle h2{
	color: #333;
	margin: 0 0 2px;
	font-size: 14px;
	line-height: 17px;
}
.tg-servicetitle h2 a{
	color: #333;
	text-decoration: none;
}
.tg-servicetitle h2 span {
	color: #aaa;
	font-size: 13px;
	line-height: 17px;
	padding-left: 10px;
}
.tg-btntimeedit {
	float: right;
	text-align: left;
}
.sp-services-edit-collapse {
	padding: 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.elm-display-none {display: none;}
.widget-content select[multiple]{
	height: auto;
    width: 100%;
}
.tg-haslayout {
	width: 100%;
	float: left;
}
.tg-btntimeedit span.sp-price-wrapper {
	float: left;
	padding: 16px 0;
	font-size: 13px;
	line-height: 17px;
	margin: 0 20px 0 0;
	text-transform: capitalize;
	-webkit-transition: all 1000ms ease-out;
	-moz-transition: all 1000ms ease-out;
	-ms-transition: all 1000ms ease-out;
	-o-transition: all 1000ms ease-out;
	transition: all 1000ms ease-out;
}
.tg-dashboardservice{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 1000ms ease-out;
	-moz-transition: all 1000ms ease-out;
	-ms-transition: all 1000ms ease-out;
	-o-transition: all 1000ms ease-out;
	transition: all 1000ms ease-out;
}
.tg-dashboardservice .form-group textarea{
	width: 100%;
	float: left;
	height: 180px;
	resize: none;
	color: #000;
	outline: none;
	background: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 18px;
	border-radius: 5px;
	vertical-align: top;
	display: inline-block;
	border: 1px solid #ddd;
	box-shadow: none !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-dashboardservice:hover {padding: 0 100px 0 0;}
.tg-dashboardservice:hover .tg-btntimeedit .tg-btndel {right: 0;}
.tg-dashboardservice:hover .tg-btntimeedit .tg-btnedite {right: 50px;}
.tg-dashboardprivacysettings{
	width:100%;
	float: left;
}
.tg-privacysetting {
	width: 100%;
	float: left;
	padding: 14px 20px;
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tg-privacysetting:nth-child(odd) {background: #fff;}
.tg-privacysetting:nth-child(even) {background: #fcfcfc;}
.tg-privacysetting span {
	float: left;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
.tg-iosstylcheckbox {
	width: 80px;
	float: right;
	position: relative;
}







.tg-packagesbox{
	width:100%;
	float:left;
}
.tg-packagesplanstabs{
	width: 100%;
	float: left;
}
.tg-pkgplans{
	width: 100%;
	float: left;
	padding: 15px 0 0;
}
.tg-pkgplan{
	width: 100%;
	float: left;
	color: #484848;
	font-size: 13px;
	line-height: 16px;
	padding: 0;
	margin:15px 0;
	text-align: center;
	border-radius: 5px;
	position:relative;
	border: 1px solid #ddd;
}
.tg-pkgplan:hover{
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.10);
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.10);
}
.tg-pkgplanhead{
	width: 100%;
	float: left;
	padding: 30px 0;
}
.tg-pkgplanhead{border-bottom: 1px solid #ddd;}
.tg-pkgplanhead h3{
	font-size: 30px;
	font-weight: 300;
	line-height: 24px;
	margin: 0 0 15px;
	text-transform:capitalize;
}
.tg-pkgplanhead h4{
	margin: 0;
	width: 100%;
	float: left;
	color: #919191;
	font-size: 14px;
	line-height: 17px;
	text-transform: lowercase;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.tg-pkgplanhead h4 span{
	color:#5dc560;
	font-size: 24px;
	line-height: 24px;
}
.tg-pkgplanhead h4 em{font-style:normal;}
.tg-pkgplan ul{
	width: 100%;
	float: left;
	list-style: none;
	line-height: 20px;
	padding: 10px 10px 0;
}
.tg-pkgplan ul li{
	width: 100%;
	float: left;
	padding: 20px 0 0;
	line-height: inherit;

	list-style-type: none;
	box-sizing: border-box;
}
.tg-pkgplan ul li span{display: block;}
.tg-pkgplan ul li span + span{color: #919191;}
.tg-pkgplan .tg-btn{padding:0 50px;}
@media (max-width: 479px) {
	.tg-languagesbox .form-group,
	.tg-amenitiesfeaturesbox .form-group{padding: 0;}
	
	.tg-languagesbox .form-group .tg-btn,
	.tg-amenitiesfeaturesbox .form-group .tg-btn{
		width: 100%;
		margin: 15px 0 0;
		position: static;
	}
}

.tg-startendtime img.sp-spin{
	position: absolute;
    top: 11px;
    right: 107px;
    z-index: 9999;
}

body.cus-modal-open .cus-modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.cus-modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.30);
}
.cus-modal-dialog {
	max-width: 430px;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	margin: 60px auto 30px;
}
.cus-modal.in .cus-modal-dialog {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-animation: 1s ease 0s normal fadein;
	animation: 1s ease 0s normal fadein;
}
@keyframes fadein{
	0% {
		-webkit-transform: translateY(-20%);
		-moz-transform: translateY(-20%);
		-ms-transform: translateY(-20%);
		-o-transform: translateY(-20%);
		transform: translateY(-20%);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes fadein{
	0% {
		-webkit-transform: translateY(-20%);
		-moz-transform: translateY(-20%);
		-ms-transform: translateY(-20%);
		-o-transform: translateY(-20%);
		transform: translateY(-20%);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
.cus-modal-content {box-shadow: 0 3px 15px rgba(0,0,0,0.15);}
.cus-modal-content {
	width: 100%;
	float: left;
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	outline: 0;
}
.cus-modal-header {
	width: 100%;
	float: left;
	padding: 15px 20px;
	position: relative;
	background: #57c778;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cus-modal-header .cus-modal-title {
	margin: 0;
	padding: 0;
	float: left;
	color: #fff;
	overflow: hidden;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: capitalize;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.cus-close-modal {
	top: 10px;
	right: 20px;
	color: #fff;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #4c5868;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border-radius: 15px;
	text-decoration: none;
	box-shadow: none !important;
}
.cus-close-modal:hover{color: #fff;}
.cus-modal-body {
	width: 100%;
	float: left;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.cus-options-type, 
.cus-options-data, 
.measurement-update-btn {
    width: 100%;
    float: left;
}
.cus-options-data label {
    margin: 0;
    width: 50%;
    float: left;
    color: #767676;
    text-align: left;
    padding: 0 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 400 13px/40px 'Open Sans', Arial, Helvetica, sans-serif;
}
.step-value {
    width: 50%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.step-value span {
    width: 100%;
    float: left;
    color: #767676;
    text-align: left;
    font: 400 13px/40px 'Open Sans', Arial, Helvetica, sans-serif;
}
.cus-options-data:nth-child(odd) {
    background: #fafafa;
}
.cus-options-data:nth-child(even) {
    background: #fff;
}
body.taxonomy-sub_category .form-field.term-parent-wrap{display: none;}
#fw-ext-backups-demo-list .theme .theme-actions{top: 92%;box-shadow:none;}
.sp-order-status{
	margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}
.sp-order-status p{
	margin: 0;
    background: #57c778;
    color: #FFF;
    padding: 5px 15px;
    border-radius: 3px;
}
.cus-options-data.sp-up{
	padding: 15px 0;
    float: left;
    width: 100%;
}
.cus-form-change-settings{
	float: left;
    width: 100%;
    margin-top: 30px;
}
.widthdrawal-message,
.widthdrawal-title{
	float: left;
    width: 100%;
	padding-bottom: 10px;
	font-size: 15px;
    font-weight: bold;
}
.widthdrawal-message,
.widthdrawal-message p{padding: 0px; margin: 0px;}
.edit-withdrawal-wrap .inportusers {
    text-align: center;
    margin-top: 20px;
}
.widthdrawal-head{margin-top:30px;}
.widthdrawal-head,
.withdrawal-change-settings,
.widthdrawal-detail,
.edit-withdrawal-wrap{
	float: left;
    width: 100%;
}
#workreap_vc_article_posts .vc_element-icon,
#workreap_vc_blog_posts .vc_element-icon,
#workreap_vc_call_to_action .vc_element-icon,
#workreap_vc_sp_categories .vc_element-icon,
#workreap_vc_categories_vthree .vc_element-icon,
#workreap_vc_sp_cities .vc_element-icon,
#workreap_vc_sp_contact_form .vc_element-icon,
#workreap_vc_sp_contries .vc_element-icon,
#workreap_vc_featured_listing_banner .vc_element-icon,
#workreap_vc_featured_listing .vc_element-icon,
#workreap_vc_sp_gallery .vc_element-icon,
#workreap_vc_sp_google_map .vc_element-icon,
#workreap_OurPartners .vc_element-icon,
#workreap_vc_post_questions .vc_element-icon,
#workreap_vc_recent_questions .vc_element-icon,
#workreap_vc_search_form .vc_element-icon,
#workreap_vc_search_form_two .vc_element-icon,
#workreap_vc_section_heading .vc_element-icon,
#workreap_vc_sp_service_providers .vc_element-icon,
#workreap_services_grid .vc_element-icon,
#workreap_services_grid_two .vc_element-icon,
#workreap_vc_sp_slider .vc_element-icon,
#workreap_vc_sp_testimonial .vc_element-icon,
#workreap_vc_text_block .vc_element-icon,
#workreap_vc_sp_timeline .vc_element-icon,
#workreap_vc_trending_categories .vc_element-icon,
#workreap_video .vc_element-icon,
#workreap_vc_article_posts .vc_element-icon,
#workreap_vc_sp_gallery .vc_element-icon{
	max-width: 24px;
}

.sp-district-wrap .sp-spin,
.sp-city-wrap .sp-spin{
	position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.tg-pkgplansvtwo .tg-pkgplan ul{padding:10px 0 30px;}
.tg-pkgplansvtwo .tg-pkgplan ul li{
	padding: 10px 20px;
	margin: 0;
}
.tg-pkgplansvtwo .tg-pkgplan ul li:nth-child(even){background: #f7f7f7;}
.tg-pkgplansvtwo .tg-pkgplan ul li span{
	color: #333;
	float: left;
}
.tg-pkgplansvtwo .tg-pkgplan ul li span + span{float: right;}
.tg-pkgplansvtwo .tg-pkgplan ul li i.sp-pk-allowed,
	.tg-pkgplansvtwo .tg-pkgplan ul li i.sp-pk-not-allowed{
	display: block;
	float: right;
	font-size: 16px;
	line-height: inherit; 
}
.tg-posttagsvtwo{
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	position: absolute;
	border-top: 40px solid #5dc560;
	border-left: 40px solid transparent;
}
.tg-posttagsvtwo:after{
	bottom:19px ;
	z-index: 2;
	right: 8px;
	color: #fff;
	display: block;
	font-size: 13px;
	content: '\f0e7';
	line-height: 14px;
	position: absolute;
	text-align: center;
	font-family: 'FontAwesome';
}
.sp-pk-allowed{color:#4CAF50;}
.sp-pk-not-allowed{color:#ef5350;}


/**RTL**/

body.rtl .sp-lg-1,
body.rtl .sp-lg-2,
body.rtl .sp-lg-3,
body.rtl .sp-lg-4,
body.rtl .sp-lg-5,
body.rtl .sp-lg-6,
body.rtl .sp-lg-7,
body.rtl .sp-lg-8,
body.rtl .sp-lg-9,
body.rtl .sp-lg-10,
body.rtl .sp-lg-11,
body.rtl .sp-lg-12,
body.rtl .tg-dashboardbox .tg-dashboardtitle h2,
bory.rtl .tg-startendtime .form-group,
body.rtl .tg-galleryimg,
body.rtl .tg-uploadhead span,
body.rtl .tg-uploadhead h3,
body.rtl .tg-tagdashboardlist li,
body.rtl .tg-qualification .tg-imgandtitle,
body.rtl .tg-experience .tg-imgandtitle,
body.rtl .tg-radio,
body.rtl .tg-radio label,
body.rtl .tg-checkbox,
body.rtl .tg-checkbox label,
body.rtl .tg-dashboardtitle,
body.rtl .tg-servicetitle,
body.rtl .tg-privacysetting span,
body.rtl .tg-pkgplansvtwo .tg-pkgplan ul li span,
body.rtl .tg-startendtime .form-group,
body.rtl .tg-imgandtitle{float:right;}
body.rtl .pull-left {float: right !important;}
body.rtl .tg-btnaddnew,
body.rtl .tg-btntimeedit,
body.rtl .tg-btnaddservices,
body.rtl .tg-iosstylcheckbox,
body.rtl .tg-pkgplansvtwo .tg-pkgplan ul li span + span{float:left;}
body.rtl .tg-startendtime{padding:0 0 0 60px;}
body.rtl .tg-select:after,
body.rtl .tg-startendtime .form-group .lnr-clock{
	left:15px;
	right:auto;
}
body.rtl .tg-uploadhead > i,
body.rtl .tg-languagesbox .form-group .tg-btn,
body.rtl .tg-amenitiesfeaturesbox .form-group .tg-btn{right:auto;left:0;}
body.rtl .tg-uploadhead h3{margin:0 0 0 5px;}
body.rtl .tg-languagesbox .form-group,
body.rtl .tg-amenitiesfeaturesbox .form-group{padding:0 0 0 172px;}
body.rtl .tg-btntimeedit .tg-btndel,
body.rtl .tg-btntimeedit .tg-btnedite{
	right:auto;
	left:-100px;
}
body.rtl .tg-dashboardappointment:hover .tg-btntimeedit .tg-btnedite,
body.rtl .tg-certificatesaward:hover .tg-btntimeedit .tg-btnedite,
body.rtl .tg-dashboardappointment:hover .tg-btntimeedit .tg-btnedite{
	right:auto;
	left:60px;
}
body.rtl .tg-dashboardappointment:hover .tg-btntimeedit .tg-btndel,
body.rtl .tg-certificatesaward:hover .tg-btntimeedit .tg-btndel,
body.rtl .tg-videogallerybox .lnr-film-play,
body.rtl .tg-addtimeslot,
body.rtl .tg-dashboardservice:hover .tg-btntimeedit .tg-btndel,
body.rtl .tg-iosstylcheckbox label:before{
	right:auto;
	left:0;
}
body.rtl .tg-btntimeedit span.sp-price-wrapper{margin:0 0 0 20px;}
body.rtl .tg-dashboardservice:hover {padding: 0 0 0 100px;}
body.rtl .tg-dashboardservice:hover .tg-btntimeedit .tg-btnedite{
	right:auto;
	left:50px;
}
body.rtl .tg-iosstylcheckbox label:after{width:auto;}
body.rtl .tg-iosstylcheckbox label:after{
	right:0;
	left:auto;
}
body.rtl .locate-me-wrap .geolocate{
	left:10px;
	right:auto;
}
body.rtl .tg-radio,
body.rtl .tg-radio label,
body.rtl .tg-checkbox,
body.rtl .tg-checkbox label{
	width:auto;
	clear:both;
}
.tg-profilewidgethead {
    width: 100%;
    float: left;
    padding: 0 10px;
    margin: 0 0 25px;
    position: relative;
}
.tg-profilewidgethead h3 {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
}
.tg-timebox {
    width: 100%;
    float: left;
    color: #919191;
    font-size: 14px;
    overflow: hidden;
    margin: 10px 0 0;
    line-height: 50px;
    border-radius: 5px;
    background: #f7f7f7;
}
.tg-timebox i, .tg-timebox time {
    float: left;
    line-height: 50px;
}
.tg-timebox i {
    width: 50px;
    display: block;
    font-size: 16px;
    margin: 0 10px 0 0;
    text-align: center;
    background: #ededed;
}
.tg-sortcontentitems .tg-timebox i {
    font-size: 20px;
    background: none;
    margin: 0;
}
.tg-box {
    width: 100%;
    float: left;
    padding: 0px;
    background: #fff;
    border-radius: 3px;
}
.tg-sortcontentitems .tg-timebox {
    background: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: -webkit-grab;
    border: 1px solid #ddd inset;
    -webkit-box-shadow: inset 0 0 0 1px #ddd;
    box-shadow: inset 0 0 0 1px #ddd;
}
.tg-sortcontentitems .tg-timebox:first-child {margin: 0;}
.tg-sortcontentitems .tg-timebox span {
    float: left;
    line-height: 48px;
}
.tg-sortcontentitems .tg-timebox:hover {
    -webkit-box-shadow: inset 0 0 0 3px #ddd;
    box-shadow: inset 0 0 0 3px #ddd;
}
.sp-item-sortable{
	float: left;
	width: 100%;
	padding:20px 0;
}
.tg-dashboardbox h3{margin-top:0px !important;}
.tg-pkgplans,
.tg-pkgexpirey{
	float: left;
	width: 100%;
}
.tg-pkgexpirey+.tg-pkgexpirey{margin-top:20px;}
.chosen-container{border:0;width:100% !important;height:40px;outline:none;font-size:14px;background:#fff;box-shadow:none;line-height:18px;border-radius:5px;text-transform:capitalize;}
.chosen-container-single .chosen-single{margin:0;z-index:2;color:#999;width:100%;height:40px;outline:none;background:none;font-size:14px;box-shadow:none;line-height:18px;padding:10px 18px;border-radius:5px;vertical-align:top;display:inline-block;border:1px solid #ddd;text-transform:capitalize;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.chosen-container-single .chosen-single span{margin:0;width:100%;}
.chosen-container-single .chosen-single div{display:none;}
.chosen-container .chosen-results{margin:0;padding:0;width:100%;float:left;line-height:34px;}
.chosen-container .chosen-results li{line-height:inherit;padding:2px 15px;}
.chosen-container-active.chosen-with-drop .chosen-single{box-shadow:0;background:none;border-radius:5px;border:1px solid #ddd;}
.chosen-container-single .chosen-drop,
.tg-searchbox .chosen-container-single .chosen-single{border:0;}
.chosen-container .chosen-results li.result-selected,
.chosen-container .chosen-results li.highlighted{color:#fff;}
.chosen-container .chosen-results li.result-selected{color: #ccc;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	color: #fff;
	top: 50% !important;
	background: none !important;
	right: 5px !important;
	width: 14px !important;
	height: 14px !important;
	font-size: 14px !important;
	line-height: 14px !important;
	position: absolute !important;
	margin: -7px 0 0 !important;
	background-image: none !important;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after{
	top: 0;
	left: 0;
	color: #fff;
	display: block;
	font-size: 11px;
	content: '\f00d';
	position: absolute;
	width: 100% !important;
	font-family: 'FontAwesome';
	text-align: center !important;
	line-height: 14px !important;
}
.chosen-container-multi .chosen-choices {
	border: 1px solid #ddd !important;
	box-shadow: none;
	background-image: none !important;
}
.chosen-container.chosen-container-multi ul.chosen-choices {
	padding: 5px !important;
	overflow: visible !important;
	float: left;
	border-radius: 5px;
	outline: none;
}
.chosen-container-active .chosen-choices {
	border: 1px solid #5897fb;
}
.chosen-container-multi .chosen-choices li.search-choice {
	border: none !important;
	line-height: 24px !important;
	height: 24px !important;
	padding: 0 25px 0 10px !important;
	border-radius: 3px !important;
	color: #fff !important;
	font-size: 12px !important;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
	cursor: pointer !important;
	box-shadow: none !important;
	margin: 2px !important;
	background: #5dc560;
}
.chosen-container.chosen-container-multi {height: auto !important;}
.chosen-container.chosen-with-drop .chosen-drop {border: 1px solid #dfdfdf;}
.chosen-container .chosen-results li.highlighted{color:#FFF;}
.chosen-container .chosen-results li.highlighted.active-result{background:#5dc560;}
.spvsort-highlight{
	border: 2px dashed #DDD;
    visibility: visible;
    float: left;
    width: 100px;
    height: 97px;
    margin: 0;
    padding: 0;
    margin-top: 3px;
}
.tg-galleryimages .tg-galleryimg-item:hover {cursor: pointer;}
.tg-galleryimages .tg-galleryimg-item.ui-sortable-helper{cursor: move;}
.wpb_el_type_checkbox .edit_form_line .vc_checkbox-label{
    float:left; 
    width:100%;
}
.wpb_el_type_checkbox .edit_form_line {
    overflow: hidden;
    max-height: 100px;
    overflow-y: scroll;
    border: 5px solid #dfdfdf;
    border-radius: 5px;
    padding: 15px;
}
#tg_appointments_detail .invoice-info li {
	padding: 10px;
	margin: 0;
}
#tg_appointments_detail .invoice-info li:nth-child(odd) {
    background: #fafafa;
}
.tg-radio,
.tg-radio label,
.tg-checkbox,
.tg-checkbox label{width:100%;float:left;margin:0;position:relative;}
.tg-radio label,
.tg-checkbox label{cursor:pointer;display:block;padding:0 0 0 20px;}
.tg-radio input[type=radio],
.tg-checkbox input[type=checkbox]{display:none;}
.tg-radio input[type=radio] + label:before,
.tg-checkbox input[type=checkbox] + label:before{top:4px;left:0;color:#999;font-size:14px;line-height:12px;content:'\f096';position:absolute;font-family:'FontAwesome';}
.tg-radio input[type=radio] + label:before,
.tg-radio input[type=radio]:checked + label:before{color:#333;content:'\f10c';}
.tg-radio input[type=radio]:checked + label,
.tg-radio input[type=radio]:checked + label:before{color:#333;content:'\f192';}
.tg-checkbox input[type=checkbox]:checked + label:before{content:'\f046';}
.tg-accordion .tg-radio input[type=radio] + label:before,
.tg-accordion .tg-radio input[type=radio]:checked + label:before{display:none;}
body.post-type-projects #newproject_experience_parent,
body.post-type-micro-services #newdelivery_parent,
body.post-type-micro-services #newresponse_time_parent,
body.post-type-projects #newskills_parent,
body.post-type-projects #newlanguages_parent,
body.post-type-freelancers #newlanguages_parent,
body.post-type-freelancers #newbadge_cat_parent,
body.post-type-freelancers #skillsdiv,
body.post-type-projects #project_levelsdiv,
body.post-type-projects #durationsdiv,
body.post-type-projects #freelancer_typediv,
body.post-type-freelancers #english_leveldiv,
body.taxonomy-department .term-parent-wrap,
body.taxonomy-project_experience .term-parent-wrap,
body.taxonomy-badge_cat .term-parent-wrap,
body.taxonomy-skills .term-parent-wrap,
body.taxonomy-languages .term-parent-wrap,
body.taxonomy-delivery .term-parent-wrap,
body.taxonomy-response_time .term-parent-wrap,
body.taxonomy-project_levels .term-parent-wrap,
body.taxonomy-durations .term-parent-wrap,
body.taxonomy-freelancer_type .term-parent-wrap,
body.taxonomy-english_level .term-parent-wrap,

body.taxonomy-badge_cat .term-parent-wrap{display:none;}
.wt-packages{
	width:100%;
	float:left;
	padding: 0;
}
.wt-package{
	width:25%;
	float:left;
	position: relative;
	border-right:1px solid #eff2f5;
}
.wt-package:after{
	left: 0;
	bottom:0;
	width: 0;
	height: 3px;
	content: '';
	background: #3fabf3;
	position: absolute;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.wt-package:hover:after{width: 100%;}
.wt-packagehead{
	width:100%;
	float: left;
	height: 105px;
	text-align: center;
	position: relative;
	border-bottom:1px solid #eff2f5;
	    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.wt-baiscpackage,
.wt-standardpackage,
.wt-extendedpackage{text-align: center;}
.wt-packagehead h3{
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	margin: 0 0 8px;
}
.wt-packagehead span{
	display: block;
	font-size: 14px;
	line-height: 14px;
} 
.wt-package .wt-packagehead em{
	color: #fc413c;
	font-size: 14px;
	padding: 8px 0 0;
	line-height: 16px;
	font-style: normal;
}
.wt-packagehead .wt-featuredtag{
	top: 3px;
	left: auto;
	right: 3px;
	width: 30px;
	height: 30px;
	border-right: 0;
	position: absolute;
	border-left: 30px solid transparent;
	border-top: 30px solid #3fabf3;
}
.wt-packagehead .wt-featuredtag i{
	color: #fff;
	top: -35px;
	left: -13px;
	bottom: auto;
	font-size: 8px;
	line-height: 30px;
	position: absolute;
}
.wt-packageprice{
	width:100%;
	float:left;
	background: #fcfcfc;
	padding: 24px 30px 15px 30px !important; 
}
.wt-packageprices{
	background: #fcfcfc;
	padding: 39px 30px !important;
	line-height: 17px !important;
}
.wt-packageinfo li span{
	display:block;
	color: #767676;
}
.wt-packageinfo .wt-packageprice span,
.wt-packageinfo .wt-packageprices span{color: #323232;}
.wt-packageprice span{
	display:block;
	font-size:40px;
	font-weight:700;
	color: #323232;
	line-height:30px;
}
.wt-packageprice span sup{
	top:-15px;
	font-size:20px;
	line-height:inherit;
}
.wt-packageprice span sub{
	bottom: 5px;
	color: #767676;
	display: block;
	margin: 6px 0 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 14px;
}
.wt-packageprice em{
	display:block;
	font-size:16px;
	padding:5px 0 0;
	line-height:16px;
	font-style:normal;
}
.wt-packagecontent{
	width:100%;
	float:left;
}
.wt-packagedetails{padding-bottom:0; }
.wt-packageinfo{
	margin: 0;
	width:100%;
	float:left;
	padding: 0;
	font-size:16px;
	list-style:none;
	line-height:14px;
}
.wt-packageinfo li{
	width:100%;
	float:left;
	padding:20px;
	position:relative;
	font-size: inherit;
	line-height:inherit;
	list-style-type:none;
	border-bottom: 1px solid #eff2f5;
}
.wt-packageinfo li span i{line-height: 11px;}
.wt-packageinfo li span .ti-na{color: #fc413c;}
.wt-packageinfo li span .ti-check{color: #00cc67;}
.wt-packagecontent .wt-btn{
	border: 0;
	height: 50px;
	padding: 0 35px;
	line-height:50px;
}
.dashboard-admin-pack .wt-packagehead .packages-desc p{
	margin: 0;
	display: block;
	font-size: 14px;
	color: #767676;
	line-height: 14px;
}
.dashboard-admin-pack .tg-languagesbox{
	border: 0;
	margin-bottom: 30px;
}
.dashboard-admin-pack .tg-dashboardbox.tg-languagesbox{padding: 0;}
.wt-packageinfo li span .ti-na,
.ti-check{font:normal normal normal 14px/1 FontAwesome;}
.wt-packageinfo li span .ti-check:before{content: "\f00c";}
.ti-na:before{content: "\f00d";} 
.wt-packageinfo li:last-child{margin: 0;}
.postbox .wt-email-settings .wt-payout-settings{margin-bottom: 20px;}
.postbox .wt-email-settings .wt-payout-settings .fields-wrapper .wt-description,
.postbox .wt-email-settings .wt-payout-settings .fields-wrapper,
.postbox .wt-email-settings .wt-payout-settings .wt-checkboxholder{
	float: left;
	width: 100%;
}
.postbox .wt-email-settings .wt-payout-settings fieldset + fieldset{margin-top: 20px;}
.postbox .wt-email-settings .wt-payout-settings .wt-checkboxholder .wt-radio{
	float: left;
	width: 100%;
	position: relative;
}
.postbox .wt-email-settings .wt-payout-settings .fields-wrapper{margin-top:20px; }
.postbox .wt-email-settings .wt-payout-settings .fields-wrapper .wt-description p{
	display: block;
	margin: 0 0 10px;
}
.postbox .wt-email-settings .wt-payout-settings .fields-wrapper .wt-description p a{text-decoration: none;}
.postbox .wt-email-settings .wt-payout-settings .wt-checkboxholder .wt-radio label{
	margin: 0;
	float: left;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #dbdbdb;
	padding: 20px 30px 20px 40px;
}
.postbox .wt-email-settings .wt-payout-settings .wt-checkboxholder input[type=radio]{
	top: 50%;
	margin: 0;
	left: 10px;
	margin-top: -8px;
	position: absolute;
}
.postbox .wt-email-settings .wt-payout-settings .wt-checkboxholder input[type=radio]:checked:before{background: #00cc8d;}
.postbox .wt-email-settings .wt-payout-settings .wt-checkboxholder .wt-userlistingimg{margin: 0}
.postbox .wt-email-settings .wt-payout-settings .fields-wrapper .form-group:last-child{margin-bottom: 0}
.wt-addonservices-content{ padding: 0 20px; }
.wt-addonservices-content ul{ list-style: none; border: 1px solid #f2f2f2; }
.wt-addonservices-content ul li{
	margin: 0;
	position: relative;
	background: #fcfcfc;
	list-style-type: none;
}
.wt-addonservices-content ul li + li{border-top: 1px solid #f2f2f2;}
.wt-addonservices-content ul li .wt-checkbox label{padding: 16px 110px 15px 50px;display: block;}
.history-addons ul li .wt-checkbox label{padding: 16px 150px 15px 20px;}
.wt-addonservices-content .wt-checkbox input[type=checkbox]{
	position: absolute;
	top: 24px;
	left: 20px;
}
.wt-addonservices-content .wt-checkbox input[type=checkbox] + label:before,
.wt-addonservices-content .wt-checkbox input[type=checkbox] + label:after{top: 20px; left: 20px; }
.wt-addonservices-content label h3,
.wt-addonservices-content .wt-checkbox input[type=checkbox] + label h3{margin: 0; display: block; font-weight: 400; font-size: 16px; line-height: 1.3; }
.wt-addonservices-content label p,
.wt-addonservices-content .wt-checkbox input[type=checkbox] + label p{margin: 5px 0 0; font-size: 14px; line-height: 20px}
.wt-addonservices-content label strong,
.wt-addonservices-content .wt-checkbox input[type=checkbox] + label strong{font-size: 18px; color: #767676; position: absolute; top: 20px; right: 20px; display: block; line-height: 1.2; }
.wt-addonservices-content .wt-checkbox input[type=checkbox]:checked + label strong{color: #323232;}
@media (max-width: 991px) {.wt-package { width: 50%; }}
@media (max-width: 782px) {.wt-addonservices-content .wt-checkbox input[type=checkbox]{height: 16px;width: 16px;}.wt-addonservices-content .wt-checkbox input[type=checkbox]:before{font-size: 20px;}}
@media (max-width: 567px) {.wt-addonservices-content{padding: 0;}.wt-addonservices-content ul li .wt-checkbox label{padding: 16px 20px 15px 50px;}.wt-addonservices-content .wt-checkbox input[type=checkbox] + label strong{margin-top: 10px;position: static;} .wt-package,.dashboard-admin-pack .tg-startendtime .form-group { width: 100%; }}
.wt-tabscontenttitle{
    font-size: 15px;
    font-weight: bold;
}