/**
 *
 * Edit Stylings
 *
 * @package   Workreap
 * @author    amentotech
 * @link      https://themeforest.net/user/amentotech/portfolio
 * @since 1.0
 */
body.block-editor-page .editor-styles-wrapper h1,
body.block-editor-page .editor-styles-wrapper h2,
body.block-editor-page .editor-styles-wrapper h3,
body.block-editor-page .editor-styles-wrapper h4,
body.block-editor-page .editor-styles-wrapper h5,
body.block-editor-page .editor-styles-wrapper h6 {
	color: #323232;
	margin: 0 0 8px;
	font-weight: 600;
	line-height: 1.5;
	font-style: normal;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
body.block-editor-page .wp-block-freeform.block-library-rich-text__tinymce li, 
body.block-editor-page .wp-block-freeform.block-library-rich-text__tinymce p{
	line-height: 1.7em;
}
body.block-editor-page .editor-styles-wrapper h1 {font-size: 36px;}
body.block-editor-page .editor-styles-wrapper h2 {font-size: 28px;}
body.block-editor-page .editor-styles-wrapper h3 {font-size: 24px;}
body.block-editor-page .editor-styles-wrapper h4 {font-size: 18px;}
body.block-editor-page .editor-styles-wrapper h5 {font-size: 16px;}
body.block-editor-page .editor-styles-wrapper h6 {font-size: 14px;}
body.block-editor-page .editor-styles-wrapper b, body.block-editor-page .editor-styles-wrapper strong {
    color: #414141;
	font-weight: 700;
}

body.block-editor-page .editor-styles-wrapper a,
body.block-editor-page .editor-styles-wrapper p a,
body.block-editor-page .editor-styles-wrapper p a:hover,
body.block-editor-page .editor-styles-wrapper a:hover,
body.block-editor-page .editor-styles-wrapper a:focus,
body.block-editor-page .editor-styles-wrapper a:active{color: #ff5851;}
body.block-editor-page .editor-styles-wrapper .wp-block-button__link{font-family:'Open Sans', Arial, Helvetica, sans-serif;}

.wp-block {max-width: 1030px;}
.wp-block[data-align="wide"] {max-width: 1030px;}
.wp-block[data-align="full"] {max-width: none;}

body.block-editor-page .editor-styles-wrapper .wp-block-pullquote blockquote {margin: 0;}
body.block-editor-page .wp-block-pullquote, 
body.block-editor-page .wp-block-quote, 
body.block-editor-page .wp-block-quote:not(.is-large):not(.is-style-large){
	padding: 20px;
	background: #f7f7f7;
    padding-left: 15px;
	position: relative;
    overflow: hidden;
}
body.block-editor-page .wp-block-quote, 
body.block-editor-page .wp-block-quote:not(.is-large):not(.is-style-large){
	padding: 20px;
}
body.block-editor-page wp-block-quote.is-style-large p{margin-bottom:0;}
body.block-editor-page .editor-styles-wrapper .wp-block-pullquote {
    border-top: none;
	text-align: center;
    border-bottom: none;
    padding: 0;
}
body.block-editor-page .editor-styles-wrapper .block-library-list ol, 
body.block-editor-page .editor-styles-wrapper .block-library-list ul{margin-left: 0px !important}
body.block-editor-page .editor-styles-wrapper .wp-block-pullquote,
body.block-editor-page .editor-styles-wrapper .wp-block-quote.is-style-large {
    margin: 0 0 16px;
    border-left: 4px solid;
    padding-left: 1em;
}
body.block-editor-page .editor-styles-wrapper .wp-block-pullquote,
body.block-editor-page .editor-styles-wrapper blockquote:not(.blockquote-link),
body.block-editor-page .editor-styles-wrapper .wp-block-quote.is-style-large,
body.block-editor-page .editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large),
body.block-editor-page .editor-styles-wrapper .wp-block-quote.is-style-large{border-color: #ff5851;}
body.block-editor-page .editor-styles-wrapper .edit-post-visual-editor p.wp-block-subhead,
body.block-editor-page .editor-styles-wrapper .wp-block-quote__citation, 
body.block-editor-page .editor-styles-wrapper .wp-block-quote cite, 
body.block-editor-page .editor-styles-wrapper .wp-block-quote footer{color:#767676;}
body.block-editor-page .editor-styles-wrapper .wp-block-verse pre, pre.wp-block-verse,
body.block-editor-page .editor-styles-wrapper .edit-post-visual-editor p.wp-block-subhead{color:#767676;}
body.block-editor-page .editor-styles-wrapper .block-editor .wp-block-categories ul{
    padding-left: 1.4em;
}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p{margin-bottom:0;}
body.block-editor-page .editor-styles-wrapper .wp-block-latest-posts.is-grid li {
	margin-bottom: 5px;
}
body.block-editor-page .editor-styles-wrapper .wp-block-pullquote blockquote>.block-editor-rich-text p{line-height:1.5em;}
body.block-editor-page .editor-styles-wrapper .has-large-font-size,
body.block-editor-page .editor-styles-wrapper .has-extra-large-font-size{line-height:1.5em;}

body.block-editor-page .editor-styles-wrapper select, 
body.block-editor-page .editor-styles-wrapper .wt-select select, 
body.block-editor-page .editor-styles-wrapper .form-control, 
body.block-editor-page .editor-styles-wrapper input[type="text"], 
body.block-editor-page .editor-styles-wrapper input[type="password"], 
body.block-editor-page .editor-styles-wrapper input[type="datetime"], 
body.block-editor-page .editor-styles-wrapper input[type="datetime-local"], 
body.block-editor-page .editor-styles-wrapper input[type="date"], 
body.block-editor-page .editor-styles-wrapper input[type="month"], 
body.block-editor-page .editor-styles-wrapper input[type="time"], 
body.block-editor-page .editor-styles-wrapper input[type="week"], 
body.block-editor-page .editor-styles-wrapper input[type="number"], 
body.block-editor-page .editor-styles-wrapper input[type="email"], 
body.block-editor-page .editor-styles-wrapper input[type="url"], input[type="search"], 
body.block-editor-page .editor-styles-wrapper input[type="tel"], input[type="color"], 
body.block-editor-page .editor-styles-wrapper .uneditable-input {
    color: #999;
    outline: none;
    height: 50px;
    background: #fff;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #dbdbdb;
    text-transform: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body.block-editor-page .editor-styles-wrapper .wp-block-latest-comments__comment {
    font-size: 15px;
    line-height: 1.1;
    list-style: none;
    margin-bottom: 1em;
}
body.block-editor-page .editor-styles-wrapper .wp-block-verse pre, 
body.block-editor-page .editor-styles-wrapper pre.wp-block-verse{
	background: #323232;
    color: #FFF !important;
    padding: 15px;
    border-left: 4px solid #ff5851;
    border-radius: 5px;
	margin:0;
}
body.block-editor-page .editor-styles-wrapper blockquote:not(.blockquote-link) {
    position: relative;
    overflow: hidden;
	padding: 20px;
}
body.block-editor-page .editor-styles-wrapper blockquote:not(.blockquote-link) p{margin: 0;}