@media(min-width:1921px){.wt-logo{max-width:132px}
}@media(max-width:1600px){.wt-comingsoonimg figure{padding:0}
.wt-comingsoon-content{padding-left:20px}
.wt-bannerslider-two:after{top:50px;width:100%;height:100%;background-repeat:no-repeat;background-size:cover}
}@media(max-width:1440px){.wt-headervthhree .wt-rightarea .wt-loginarea{padding:0}
.wt-bannerimages{margin:0;width:100%}
.wt-search-have .wt-formbannervtwo{display:none}
.wt-search-have.show-sform .wt-formbannervtwo,.wt-search-have .wt-respsonsive-search{display:block}
.header-variation-two .wt-header .wt-rightarea{display:block;height:auto}
}@media(max-width:1366px){.wt-socials-profile .wt-userform .form-group{width: 100%;}.wt-bannerholderthree .wt-bannercontent{padding-left:15px}
.wt-bannerholderthree{min-height:600px}
.wt-counterbox{padding:0 30px}
.wt-comming-sooncounter .timer_box h1{font-size:50px;line-height:50px}
.wt-comming-sooncounter .timer_box p{font-size:20px;line-height:26px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{width:auto;float:left;max-width:none;min-width:800px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset{min-width:auto}
}@media(max-width:1280px){.wt-comingsoonimg{display:none}
.wt-headervfour .wt-nav{padding-left:30px}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn span{display:none}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn i{display:inline-block}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn{width:60px}
.wt-bannerholderthree .wt-formbanner fieldset .form-group .form-control{padding-right:300px}
.wt-bannerholderthree .wt-formoptions .wt-radioholder{width:225px}
.wt-bannerholderthree .wt-formoptions .wt-dropdown{min-width:225px}
}@media(max-width:1199px){.wt-userlistingholdvtwo .wt-userlistingcontent .wt-viewjobholder{margin:0; margin-top: 30px;}.wt-userlistingholdvtwo .wt-userlistingcontent{display: block;}.wt-freelancers-holder.four-column-holder>div:nth-child(-n+3),.three-column-holder.wt-freelancers-holder>div:nth-child(2){margin-top:0}
.wt-clientfeedback .wt-userlistingsingle .wt-overallratingarea{line-height:16px}
.wt-overallratingarea>.wt-stars span,.wt-overallratingarea>.wt-stars{height:16px}
.wt-bannerslider-two{margin:0}
.wt-slidericons img{top:0;left:0}
.wt-bannerslider-two:after{display:none}
.pv_paypal_container ~ table td p label{width:100%;margin:0 0 10px;line-height:20px}
.pv_paypal_container ~ table td p input[type="text"]{width:100%}
.wt-profilecounter .wt-description{margin-bottom:0}
.wt-freelancers-holder.wt-freelancers-home>div:nth-child(2){margin-top:0}
.wt-prjoect-categories>div>div.col-xl-6:nth-child(2),.wt-freelancers-holder>div:nth-child(n+2){margin-top:30px}
.wt-topfreelancers>.col-12{float:none!important;display:inline-block;vertical-align:top;margin:0 -2px 0 -1px}
.wt-topfreelancers>.col-12:nth-child(n+4){margin-top:30px}
.wt-workdetails-border:after,.wt-workdetails-bordertwo:before{display:none}
.woocommerce div.product .entry-summary form.cart .button.product_type_variable{padding:0 20px;min-width:150px}
.wt-404errorcontent .wt-description{padding:0}
.wt-innerbannercontent .wt-title h2{font-size:40px}
.wt-project{width:50%}
.wt-tabstitle li a:after{display:none}
.wt-userlistingcontent .wt-rightarea .wt-stars{width:90px;margin:0 auto}
.wt-companysinfo .wt-postarticlemeta li{padding:0 0 0 7px}
.wt-companysinfo .wt-postarticlemeta li:first-child{padding-left:0}
.wt-companysdetails .wt-companysinfo{padding:0 10px 30px}
.wt-emptydata{height:370px}
.wt-experienceholder{padding:0}
.wt-teamfilter .wt-sectionhead{width:50%}
.wt-teamholder{width:25%}
.wt-fbtnarea{float:left}
.wt-userprofileholder{padding:30px}
.wt-profilecounter{margin:0;border:0;width:100%;max-width:none;margin-top:30px;border-top:1px solid #f2f2f2}
.wt-userlisting .wt-userlistingcontent{float:left;padding:0;width:100%;text-align:center}
.wt-userlisting .wt-contenthead{width:100%;max-width:none}
.wt-userlisting .wt-userlistingcontent .wt-rightarea{float:left;width:100%;margin:20px 0}
.wt-userlisting .wt-description{text-align:center}
.wt-userlisting .wt-widgettag{text-align:center}
.wt-userlisting .wt-widgettag a{float:none;display:inline-block;vertical-align:middle}
.wt-userlisting .wt-userlistingimg{float:none;margin:0 auto 20px}
.wt-proposalhead{max-width:none}
.wt-proposalholder .wt-btnarea{float:left;padding:0;clear:both;margin-top:30px;position:static}
.wt-viewjobholder{border:0;float:left;width:100%;margin-top:30px;position:static;padding-top:30px;background:transparent;border-top:1px solid #ddd}
.wt-viewjobholder ul{padding:0}
.wt-articlesingle-content .wt-description .wt-blockquotevone{padding:0 190px 23px}
.wt-404errorcontent{padding:60px 20px}
.wt-bannerholdervtwo .wt-bannercontent .wt-title h1,.wt-bannercontent .wt-title h1{font-size:40px;line-height:50px}
.wt-categoryexpl>.float-left:nth-child(n+4){margin-top:30px}
.wt-skills-users .wt-userlistingholdvtwo .wt-userlistingcontent .wt-description,.wt-skills-users .wt-userlistingholdvtwo .wt-userlistingcontent{text-align:left}
.wt-userlisting .wt-userlistingcontent .wt-rightarea>.wt-rightarea{margin:0}
.wt-userlisting .wt-userlistingcontent .user-stars-v2{padding:0}
.wt-clientfeedback .wt-userlistinghold .wt-contenthead .wt-userlisting-breadcrumb{line-height:26px}
.wt-freelanceritems .wt-userlistingcontent .wt-viewjobholder{margin:0;padding:0}
}@media(max-width:1080px){.wt-categoryslidercontent figure{float:none;margin:0 auto 10px !important;}
.wt-categoryslidercontent .wt-cattitle{width:100%;max-width:none;text-align:center}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{min-width:710px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .wt-formoptions .wt-dropdown{width:200px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-right:400px}
}@media(max-width:991px){.wt-socials-profile .wt-userform .form-group{width: 50%;}.wt-servicesgallery figure{min-height:0}
.wt-headersearch .wt-loginformhold{right:50%;margin-right:-205px}
.wt-freelancers-holder.four-column-holder>div:nth-child(3){margin-top:30px}
form[name*="serach-projects"] .wt-widget{width:50%}
.wt-sticky .workreap-header-v4 .wt-navigation{max-height:70vh;overflow-y:scroll}
.wt-bannerholderthree .wt-bannercontent{padding-left:0}
.wt-sc-slider{padding-top:79px}
.wt-headernine .wt-navigation>ul>li>a{margin:0;padding:15px 13px}
.wt-registration-parent-model{margin:0;padding:0!important}
.wt-video-list{width:100%}
.wt-headervfour .wt-userlogedin:before{display:block}
.wt-bannerholderthree .wt-bannercontent .wt-description{padding:0}
.wt-headervfour .wt-nav{padding:0}
.wt-headervfour .wt-nav .navbar-toggler{margin:30px 20px 30px 10px}
.wt-workvideo-img:after{width:244px;height:244px;background-size:100% 100%}
.wt-workvideo-img:before{height:140px;width:140px;background-size:100% 100%}
.wt-headervfour .wt-navigation{width:100%;z-index:99}
.wt-bannerholderthree{position:relative;overflow:hidden}
.wt-bannerholderthree>div>div>[class*=col-]:nth-child(2){top:0;padding:0;position:absolute}
.wt-slidericons{display:none}
.wt-bannerimg{background:#000}
.wt-bannerimg img{opacity:.5;max-width:none!important;border-radius:0!important;max-height:100%!important}
.wt-bannerholderthree .wt-videocontent span,.wt-bannerholderthree .wt-bannercontent .wt-bannerhead .wt-description p,.wt-bannerholderthree .wt-bannercontent .wt-title h1{color:#fff}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn{width:155px}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn span{display:block}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn i{display:none}
.wcv-dashboard-navigation ~ form p input[type="submit"].btn-small{margin:0}
.wt-headervthhree .wt-navigationarea .wt-navigation>ul>li>a{color:#767676}
.wt-freelancers-holder.wt-freelancers-home>div:nth-child(3),.wt-services-content .services-wrap .col-12:nth-child(n+3){margin-top:30px}
.wt-ratingcontent .wt-btn{min-width:0}
.wt-companysdetails .wt-companysinfo .wt-userprofile .wt-title{margin:0;padding:0}
.wt-servicesingle-title .wt-userlisting-breadcrumb li{margin:5px 0}
.wt-servicesingle-title .wt-userlisting-breadcrumb{margin:15px 0 -5px}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{line-height:20px;padding-bottom:15px}
.woocommerce .product .entry-summary>.entry-title{display:block;margin:0 0 5px}
.woocommerce .product .entry-summary>.price{float:left;width:100%;margin:0 0 10px}
.wt-nativeholder .wt-howswork .wt-sectiontitle h2,.wt-nativeholder .wt-howswork .wt-sectiontitle h3{font-size:30px}
.wt-nativeholder .wt-howswork .wt-sectiontitle{margin:0 0 10px}
.wt-articlesholder{margin:0 -2px 0 0}
.wt-articlesholder>.col-12{margin:0 -2px;vertical-align:top;display:inline-block;float:none!important}
.wt-articlesholder>.col-12:nth-child(n+3){margin-top:30px}
.wt-sc-latest-articals{margin-top:0}
.wt-topfreelancers>.col-12:nth-child(n+3),.wt-workprocess>div>.col-12:nth-child(n+3){margin-top:30px}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{min-width:225px}
.wt-bannerholdervtwo .wt-formbanner fieldset .form-group .form-control{padding-right:400px}
.wt-bannerholdervtwo .wt-formoptions .wt-radioholder{width:225px}
.woocommerce .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label label{margin:0}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:0;text-align:left}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:0;padding-bottom:0}
.grouped_form .woocommerce-grouped-product-list .type-product{display:grid}
.wt-respsonsive-search .wt-searchbtn{width:42px}
.wt-blog-slider .owl-item .wt-singleimg-one img{margin:0;height:300px;width:auto}
.blog-list-view-template .wt-article figure a{overflow:hidden}
.wt-tagsshare .wt-blogsocialicons{padding:0;float:left;width:100%;margin:10px 0 0}
.wt-greetingcontent{padding:0}
.wt-projectdetail-holder{margin-bottom:30px}
.wt-sc-by-categories,.wt-sc-by-location{margin-top:20px}
.wt-companysinfo .wt-postarticlemeta li{padding:0 12px}
.wt-companysdetails .wt-companysinfo{padding:0 30px 30px}
.footer-link-2{padding:0}
.wt-sc-banner>.row>div.col-12:first-child{display:none}
.wt-cattitle h3{line-height:24px}
.wt-teamfilter .wt-sectionhead{width:100%;padding:0 0 48px}
.wt-teamholder{width:33.33%}
.wt-navigation ul li .sub-menu li a,.wt-navigation ul li .sub-menu li .sub-menu li a{margin:0;padding:15px 30px!important}
.wt-navigation ul li .sub-menu li .wt-dropdowarrow,.wt-navigation ul li .sub-menu li .sub-menu li .wt-dropdowarrow{top:14px}
.wt-dropdowarrow{top:14px}
.wt-navigation ul li:first-child .sub-menu li:first-child .sub-menu li:first-child a{border-top:1px solid #ddd}
.wt-userlistingsingle .wt-description{text-align:center}
.wt-clientfeedback .wt-userlistingcontent{float:left;width:100%;text-align:center}
.wt-clientfeedback .wt-userlisting-breadcrumb li{margin:5px 0}
.wt-userlistingsingle .wt-userlistingimg{float:none;width:80px;margin:0 auto 30px}
.wt-userprofile{padding:0}
.wt-userprofileholder .wt-proposalhead{text-align:center;padding:0}
.wt-userprofile figure{width:255px;float:none;margin:0 auto 30px}
.wt-userprofile .wt-title{margin-bottom:30px}
.wt-userlisting .wt-userlistingcontent{float:left;width:100%}
.wt-contenthead{width:100%;max-width:none}
.wt-clicksavebtn{padding:0 40px}
.wt-comsingleimg figure{overflow:hidden}
.wt-comsingleimg figure img{width:auto;height:300px;max-width:none;margin-left:-210px}
.wt-userlistingholder .wt-pagination ul li a{width:40px;height:40px;line-height:40px}
.wt-video figure img{width:auto;height:300px;max-width:none}
.wt-video figure,.wt-articlessingleone{overflow:hidden}
.wt-articlessingleone img{height:300px;max-width:none;margin-left:-200px;width:auto}
.wt-articlesingle-content .wt-postarticlemeta li{margin:5px 0}
.wt-articlesingle-content .wt-description .wt-blockquotevone{padding:0 90px 23px}
.wt-articlesingle-content .wt-title h2{font-size:24px}
.wt-classicaricle-holder .wt-article figure,.wt-articlelist .wt-article figure{overflow:hidden}
.wt-classicaricle-holder .wt-article figure img,.wt-articlelist .wt-article figure img{width:auto;height:240px;max-width:none}
.wt-comingsoon-holder:before{left:30px}
.wt-comingsoon-holder:after{right:30px}
.wt-howtoworkimg{margin-top:15px}
.wt-radioboxholder{width:100%}
.wt-radioboxholder+.wt-radioboxholder{margin-top:20px}
.wt-headervtwo .wt-navigationarea .wt-rightarea{width:100%}
.wt-headervtwo .wt-rightarea .wt-nav{float:left}
.wt-formhelpsearch .form-group .form-control{max-width:370px}
.wt-dropdowarrow{display:block}
.wt-nav{width:auto;float:right}
.wt-navigation{top:100%;left:0;background:#fff;position:absolute;border-radius:0 0 4px 4px;-webkit-box-shadow:0 20px 20px 0 rgba(0,0,0,0.25);box-shadow:0 20px 20px 0 rgba(0,0,0,0.25)}
.wt-navigation ul li{width:100%;float:left;display:block}
.sub-menu,.mega-menu{clear:both;float:left;display:none;position:static;width:100%!important}
.wt-appicon li figure{width:150px}
.wt-bannerholder .row>div.col-12{display:none}
.wt-categorycontent:hover .wt-categoryslidup{bottom:14%}
.wt-categorycontent:hover .wt-cattitle{top:18%;padding:0}
.wt-bannercontent{padding:20px 0}
.wt-bannerhead{text-align:center}
.wt-videoholder{width:auto;margin:0 auto;float:none}
.wt-companycontent{padding:30px 20px}
.wt-nav .navbar-toggler{color:#fff;margin:20px 15px;padding:6px 10px}
.wt-navigation>ul>li>a{margin:0;padding:15px 13px}
.wt-navigation>ul>li>a,.wt-navigation ul li+li a{border-top:1px solid #ddd}
.wt-navigation>ul{text-align:left}
.wt-navigation>ul>li>a:after{display:none}
.sub-menu{box-shadow:none}
.wt-headervfour .wt-navigation>ul>li>a{padding:15px 13px}
.sub-menu{display:none;opacity:1;visibility:visible}
.navbar-nav .wt-notificationicon>a:after{right:50px}
.wt-usernav ul li .sub-menu{opacity:0;display:block;visibility:hidden;position:absolute}
.wt-greetingvideo{margin-top:30px;padding:0}
.wt-usernav ul li .wt-dropdowarrow{display:none}
.wt-codescanholder{margin:30px 0 0}
.wt-skills-users .wt-pagination ul li{margin:3px}
.woocommerce form .form-row-first,.woocommerce form .form-row-last,.woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last{width:100%}
.woocommerce ul.order_details li{border:0;margin:0;width:100%;padding:10px 0;border-bottom:1px solid #ddd}
.woocommerce ul.order_details li:last-of-type{padding-top:10px}
.woocommerce-account .woocommerce-MyAccount-navigation{width:100%;margin-bottom:30px}
.woocommerce-account .woocommerce-MyAccount-content{width:100%}
.wt-nav .navbar-toggler{margin-left:0}
.wt-navigation ul li.page_item_has_children ul,.mega-menu{box-shadow:none;border-top:1px solid #ddd}
.wt-navigation ul li.page_item_has_children ul li:first-child a{border:0}
.wt-navigation>ul>li>.sub-menu>li:first-child>a{border:0}
.wt-respsonsive-search{margin-left:0}
.wt-search-have.show-sform .wt-formbannervtwo .form-group .wt-formoptions .wt-searchbtn i{display:inline-block}
.wt-search-have.show-sform .wt-formbannervtwo .form-group .wt-formoptions .wt-searchbtn span{display:none}
.wt-search-have.show-sform .wt-formbannervtwo .wt-searchbtn{min-width:auto}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{min-width:500px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-right:280px}
.sub-menu.mega-menu-row>li .wt-dropdowarrow{display:none}
.sub-menu.mega-menu-row>li ul{display:block!important}
.mega-menu .mega-menu-row>.mega-menu-col .sub-menu>li:first-child>a{border-top:1px solid #ddd}
.sub-menu.mega-menu-row>li{width:100%;float:left;padding:0}
.mega-menu .mega-menu-row .sub-menu li a{padding:15px 35px;border-top:1px solid #ddd}
.mega-menu .mega-menu-row>.mega-menu-col>a:before{display:none}
.mega-menu .mega-menu-row>.mega-menu-col a.fa{margin:0;line-height:inherit}
.mega-menu .mega-menu-row>.mega-menu-col>a{margin:0;padding:15px 30px!important}
.mega-menu .mega-menu-row>.mega-menu-col a{font-size:14px}
.mega-menu .mega-menu-row>.mega-menu-col+.mega-menu-col{border:0!important;border-top:1px solid #ddd!important}
.mega-menu .mega-menu-row>.mega-menu-col a:before{display:none}
.wt-navigation ul li .sub-menu li .sub-menu li a{padding:15px 40px!important}
.wt-overallrating{text-align:left}
.wt-clientfeedback .wt-userlistingsingle .wt-userlistingimg{position:static;margin-bottom:20px}
.wt-clientfeedback .wt-userlistingsingle .wt-userlistingimg+.wt-userlistingcontent{padding-left:0}
.wt-clientfeedback .wt-userlisting-breadcrumb li.wt-overallratingarea .wt-servicesrating li{margin:0}
}@media(max-width:782px){body.logged-in.admin-bar .workreap-header-v2{top:46px}
}@media(max-width:768px){.wt-bannerholderthree .wt-formbanner fieldset .form-group .form-control{border-bottom:0}
.wt-bannerholderthree .wt-formoptions .wt-dropdown{padding-right:155px}
.header-variation-two .wt-logo a img:first-child{display:none}
.header-variation-two .wt-header .wt-logo .transparent_v2{margin:0}
.wt-sticky .wt-header{position:relative;box-shadow:none}
.woocommerce-page div.product div.entry-summary{width:100%}
.wt-description h2{font-size:22px}
.wt-bannerholdervtwo .wt-bannercontent .wt-description{padding:0}
.wt-bannerholdervtwo .wt-formoptions{float:left;width:100%;position:static;background:#fff;border-top:1px solid #ddd;border-radius:0 0 4px 4px}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{border:0;width:100%}
.wt-bannerholdervtwo .wt-formbanner fieldset .form-group .form-control{padding-right:20px;border-radius:4px 4px 0 0}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{padding-right:170px}
.wt-formoptions .wt-searchbtn{right:0;bottom:0;position:absolute;border-radius:0 0 4px 0}
.grouped_form .woocommerce-grouped-product-list .type-product{display:table-row}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:10px;text-align:right}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:1.5em;padding-top:10px}
}@media(max-width:767px){.search-result-template .wt-twocolumns .wt-sidebar form[name*="serach-projects"]{margin-bottom:0}
.four-column-holder .wt-freelancers-details .wt-freelancers-img{margin:0 15px 0 0!important}
.four-column-holder .wt-freelancers-details .wt-freelancers-content{float:none;padding:0;width:auto}
.wt-freelancers-holder.four-column-holder>div:nth-child(2),.three-column-holder.wt-freelancers-holder>div:nth-child(2){margin-top:30px}
form[name*="serach-projects"] .wt-widget{width:100%}
.workreap-header-v4 .wt-userlogedin .wt-username h3,.workreap-header-v4 .wt-userlogedin .wt-username span{max-width:140px}
.wt-popupcontentstep .wt-description{padding:0}
.wt-popupcontentstep h3{margin:0 0 6px;font-size:22px;line-height:1.3}
.wt-registration-parent-model .modal-dialog{max-width:630px}
.wt-workvideo-img:before,.wt-workvideo-img:after{top:0}
.wcv-dashboard-navigation ~ table.table-vendor-sales-report thead tr,.wcv-dashboard-navigation ~ form p input.date-pick{margin:0 0 10px}
.pv_paypal_container ~ table tr{display:grid}
.wt-footercol{margin-top:20px}
.wt-freelancers-holder.wt-freelancers-home>div:nth-child(2){margin-top:30px}
.wt-prjoect-categories{margin:0 0 30px}
.search-result-template .wt-twocolumns .wt-sidebar>form>.wt-widget:last-child{margin:0}
.wt-services-content .services-wrap .col-12:nth-child(n+2),.wt-articlesholder>.col-12:nth-child(n+2){margin-top:30px}
.wt-workdetails .wt-title h3{font-size:22px}
.wt-workprocess>div>.col-12:nth-child(n+2){margin-top:30px}
.post-password-form p label{display:block}
.post-password-form p input[type=submit]{margin:20px 0 0}
.wt-articlesingle-content .wt-postarticlemeta{display:block}
.wt-btn-remove-holder .wt-search-remove:first-child{display:none}
.wt-btn-remove-holder .wt-search-remove+.wt-search-remove{display:block}
.wt-btn-remove-holder{top:0;right:0;display:block;position:absolute}
.wt-search-have.show-sform .wt-formbannervtwo{right:0;width:100%;padding:13px 20px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{width:100%;min-width:auto}
.wt-search-have.show-sform .wt-formbannervtwo fieldset{padding-right:30px}
.wp-block-cover.wp-block-cover.alignleft{margin-right:0;max-width:100%}
.wt-articlelist .wt-article-holder .wt-article:last-child{margin-bottom:45px}
.wt-terms-pages{margin-bottom:30px}
.wt-formleavecomment fieldset .form-group.form-group-half{width:50%}
.wt-categorycontent:hover .wt-categoryslidup{bottom:20%}
.wt-categorycontent:hover .wt-cattitle{top:20%}
.blog-list-view-template .theme-nav{margin-bottom:30px}
.wt-userlistingholder .wt-comcontent{margin-top:30px}
.wt-totalamount li span{float:none;display:block}
.search-result-template .wt-twocolumns .wt-sidebar{margin-bottom:30px}
.wt-sidebar>form>.wt-widget:last-child{margin:0 0 30px}
.wt-experienceholder{margin-top:30px}
.wt-teamholder{width:50%}
.wt-categoriesslider-holder .wt-title{width:250px}
.wt-categoriesslider{padding-left:250px}
.wt-usersidebar{display:none}
.wt-usersidebaricon{display:block}
.wt-userlisting .wt-userlistingcontent .wt-rightarea{margin-bottom:0}
.wt-navarticletabvtwo li{padding:0}
.wt-navarticletab.wt-navarticletabvtwo li a{padding:0 25px}
.wt-articlesingle-content .wt-tagsshare .wt-tag a{margin:5px}
.wt-articlesingle-content .wt-blogdetailimgvtwo{margin:0;width:100%}
.wt-articlesingle-content .wt-description .wt-blockquotevone q{float:left;width:100%}
.wt-articlesingle-content .wt-description .wt-blockquotevone{font-size:18px;padding:0 0 23px}
.wt-navarticletab li a{padding:10px 25px}
.wt-comingsoon-logo{max-width:150px}
.wt-copyrights.wt-comingsoon-wt-copyrights{float:left}
.wt-registerhead{padding:0}
.wt-totalamount li h3{margin-bottom:10px}
.wt-userlisting-breadcrumb li{margin:5px 0}
.wt-proposalhead h2{font-size:22px;line-height:24px}
.wt-formhelpsearch .form-group .form-control{max-width:none;border-radius:4px 4px 0 0}
.wt-formhelpsearch .form-group .wt-btnsearch{width:100%;border-radius:0 0 4px 4px}
.wt-footeraboutus .col-12:nth-child(n+3){margin-top:20px}
.wt-companyinfohold{background:#fff}
.wt-companyinfohold:before,.wt-companyinfohold:after{display:none}
.wt-companydetails .wt-companycontent+.wt-companycontent:before{left:0;top:-5px;width:100%;height:10px}
.wt-companycontent{width:100%}
.wt-categoryexpl>.float-left:nth-child(n+3){margin-top:30px}
.wt-companyinfotitle h2{font-size:22px;line-height:28px}
.wt-widgetcompany{padding:0;border:0}
.wt-footerlogohold{margin:0 0 10px;padding-bottom:30px;border-bottom:1px solid rgba(255,255,255,0.20)}
.wt-copyrights{float:none;line-height:20px;text-align:center;margin-bottom:10px}
.wt-addnav{width:100%;text-align:center}
.wt-addnav ul li{float:none;display:inline-block;vertical-align:middle}
.wt-jobalerts .alert{padding:20px 50px 20px 20px}
.wt-jobalerts .alert span{padding:0 0 10px}
.wt-jobalerts .wt-alertbtn{float:left}
.wt-skills-users{margin-bottom:30px}
.wt-skills-users .wt-userlistingcontent>.wt-rightarea{margin-bottom:20px}
.woocommerce-checkout .woocommerce .col2-set .col-1,.woocommerce-checkout.woocommerce-page .col2-set .col-1,.woocommerce-checkout .woocommerce .col2-set .col-2,.woocommerce-checkout.woocommerce-page .col2-set .col-2,.woocommerce .col2-set .col-1,.woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2{width:100%}
.woocommerce #payment #place_order,.woocommerce-page #payment #place_orde{padding:0 10px;margin-bottom:0}
.woocommerce-column--shipping-address{margin-top:20px}
.woocommerce-cart table.cart td.actions .coupon .input-text{width:100%}
.woocommerce-cart table.cart td.actions .coupon .button{width:100%;margin:20px 0}
.wt-freelancer-search .wt-userlisting .wt-userlistingcontent .wt-rightarea{margin-bottom:20px}
.wt-categoriesslider-holder .wt-title h2{line-height:24px}
.wt-comments li .children,.wt-comments li .sub-menu{padding-left:25px}
.single-freelancers .wt-education{margin:0 0 30px}
.wt-taskpopup .modal-dialog{max-width:560px}
.wt-popupradio,.wt-selectprice{width:100%}
.wt-popupradio{margin:0 0 20px}
.wt-popupradioholder{display:block}
.wt-taskbudget .wt-taskcontent{padding:0}
.mmobile-floating-apply{display:block}
.wt-filter-scroll{top:0;right:0;width:380px;height:100%;z-index:100;position:fixed;background:#fff;-moz-transform:translateX(150%);-webkit-transform:translateX(150%);-o-transform:translateX(150%);-ms-transform:translateX(150%);transform:translateX(150%);-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;transition:all .6s ease-in-out;-webkit-box-shadow:-10px 0 20px 0 rgba(0,0,0,0.25);box-shadow:-10px 0 20px 0 rgba(0,0,0,0.25)}
.show-mobile-filter .wt-filter-scroll{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}
.wt-filter-scroll form[name*="serach-projects"]{width:100%;height:100%;overflow-x:scroll;position:relative}
.wt-filter-scroll form[name*="serach-projects"]::-webkit-scrollbar{display:none}
.show-mobile-filter .floating-mobile-filter{top:0;left:0;width:100%;height:100%;z-index:9999;position:fixed;background:rgba(0,0,0,0.4)}
.wt-mobile-close{display:block}
.logged-in.admin-bar .workreap-header-v4{margin-top:46px}
}@media(max-width:720px){.wt-headervfour .wt-headersearch .wt-loginformhold{width:280px}
.wt-headervtwo .wt-nav .navbar-toggler{margin-left:0}
.wt-formbannervtwo{width:100%;padding-left:0;margin:0 0 10px}
.wt-formbannervtwo:after{display:none}
.wt-headervtwo .wt-navigationarea .wt-logo{border:0;padding:0;float:none;width:105px;display:block;margin:20px auto 20px}
}@media(max-width:640px){.wt-headersearch .wt-loginformhold{right:auto;margin-right:0;left:0}
.wt-innerbannerholder .wt-title h1{font-size:30px}
.header-variation-four .wt-innerbannerholder{padding-top:135px}
.workreap-header-v4 .wt-headersearch{margin-left:6px}
.wt-sc-slider{padding-top:135px}
.wt-headernine .wt-nav .navbar-toggler{margin-right:0}
.wt-headernine .wt-headeroptions .wt-userlogedin{padding:0}
.wt-headernine .wt-navigationarea .wt-logo{border:0;padding:0}
.wt-registration-parent-model .wt-registerformmain{padding:30px 10px}
.wt-headervfour .wt-navigationarea .wt-logo{margin-bottom:0}
.wt-headervfour .wt-headersearch{margin-top:20px;margin-bottom:20px}
.wt-headervfour .wt-nav .navbar-toggler{margin:23px 20px 23px 10px}
.wt-headervfour .wt-userlogedin{padding:23px 20px 23px 10px}
body.admin-bar .wt-headervfour .wt-nav{float:right}
body.admin-bar .wt-headervfour .wt-nav .navbar-toggler{margin:20px 20px 20px 10px}
body.admin-bar .wt-headervfour .wt-headersearch{margin:17px 0}
.wt-headervfour{padding:0}
.wt-headervfour .wt-headersearch{margin-left:0}
.wt-headervfour .wt-headersearch .wt-loginformhold{right:auto;left:0}
.wt-headervfour .wt-nav{float:left;padding:0}
.wt-bannerholderthree{height:700px}
.wt-bannerimg img{max-width:none;width:auto!important}
.header-variation-two .wt-headervthhree{margin:0}
.header-variation-two .wt-header .wt-logo{width:129px;height:auto;display:block;margin:20px auto 10px}
.header-variation-two .wt-logo .transparent_v2{margin:0}
.header-variation-two .wt-innerbannerholder .wt-innerbannercontent{padding-top:158px}
.wt-headervthhree{margin-bottom:-159px}
.admin-bar .wt-navigationarea .wt-logo{width:auto;float:left;margin:24px 0}
.admin-bar .wt-navigationarea .wt-rightarea{width:auto}
.wt-navigationarea .wt-rightarea .wt-userlogedin:before{display:none}
.wt-search-have.show-sform .wt-formbannervtwo{padding:13px 10px}
.wt-comingsoon-content .wt-title h2{font-size:30px;line-height:35px}
.wt-search-not .wt-rightarea,.wt-search-have .wt-rightarea{width:100%}
.wt-rightarea .wt-nav,.wt-respsonsive-search{float:left}
.wt-loginarea{border:0}
.wt-navigationarea .wt-logo{float:none;width:129px;display:block;margin:20px auto 10px}
.wt-headervfour .wt-loginarea{margin:23px 0}
.wt-overallrating:before{-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);margin:-4px -3px 0 0;top:100%;right:50%}
.wt-overallrating{top:auto;bottom:0;left:0;margin:0 0 5px -22px}
.wt-overallratingarea:hover .wt-overallrating{margin:0 0 10px -22px;bottom:100%}
}@media(max-width:575px){.wt-socials-profile .wt-userform .form-group{width: 100%;}.wt-loginpopup .modal-dialog{margin-left:auto;margin-right:auto}
.grouped_form .woocommerce-grouped-product-list .type-product{display:grid}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:0;text-align:left}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:0;padding-top:0}
.wt-topfreelancers>.col-12:nth-child(n+2){margin-top:30px}
.wt-categoriesslider-holder{border:0;border-bottom:1px solid #ddd}
.wt-proposalamount-holder .wt-formproposal .wt-formcategory .form-group-label .wt-labelgroup>span{display:block;margin:10px 0 0}
.wt-404errorcontent .wt-title h3{font-size:18px}
.wt-footeraboutus .col-12:nth-child(n+2){margin-top:20px}
.wt-categoryexpl>.float-left:nth-child(n+2){margin-top:30px}
.wt-categorycontent:hover .wt-cattitle{top:20%}
.wt-categorycontent:hover .wt-categoryslidup{bottom:20%}
.wt-sc-skill-location,.wt-footercol{margin-top:20px}
.wt-categoriesslider-holder .wt-title{border:0;width:100%;position:static;padding:30px 10px;border-bottom:1px solid #ddd}
.wt-categoriesslider-holder .wt-title h2{line-height:30px}
.wt-categoriesslider{padding:0}
}@media(max-width:568px){.wt-profilecounter .wt-statisticcontent+.wt-statisticcontent{margin:0}
.wt-workvideo-img:after{width:100px;height:100px}
.wt-workvideo-img:before{height:90px;width:90px}
.wt-blogdetailimgvtwo figcaption span{line-height:20px;padding-top:7px;margin-bottom:18px}
.wt-formleavecomment fieldset .form-group.form-group-half{width:100%}
.wt-articlesingle-content .wt-description ul{line-height:20px}
.wt-breadcrumb{font-size:14px}
.wt-innerbannercontent .wt-breadcrumb{line-height:26px}
.wt-breadcrumb li{float:none;display:inline-block;vertical-align:middle}
.wt-userdetails .wt-description p{font-style:14px;line-height:24px}
.wt-emptydetails span{width:150px;height:150px}
.wt-emptydetails em{font-size:16px}
.wt-formbannervtwo fieldset .form-group .form-control{border:0;border-bottom:1px solid #ddd}
.wt-formoptions .wt-dropdown{width:100%;padding-right:60px}
.wt-formoptions .wt-dropdown>span{width:100%}
.wt-formoptions .wt-searchbtn{right:0;bottom:0;position:absolute;border-radius:0 0 4px 0}
.wt-statisticcontent{width:100%}
.wt-statisticcontent+.wt-statisticcontent{margin-top:20px}
.wt-joinnowholder .wt-description p{padding:0}
.wt-counterbox{width:50%;margin:10px 0}
.wt-comming-sooncounter li:nth-child(odd){border:0;padding-left:0}
.wt-formregister .wt-registerformgroup .form-group.form-group-half{width:100%}
.wt-formbannervtwo fieldset .form-group .wt-formoptions{border:0}
.wt-innerbannercontent .wt-title h2{font-size:30px;line-height:40px}
.wt-formoptions{float:left;width:100%;position:relative;background:#fff;border-top:1px solid #ddd;border-radius:0 0 4px 4px}
.wt-formbanner fieldset .form-group .form-control{padding-right:30px;border-radius:4px 4px 0 0}
.wt-dropdown{border-left:0}
.wt-bannerholdervtwo .wt-bannercontent .wt-title h1,.wt-bannercontent .wt-title h1{font-size:24px;line-height:30px}
.wt-bannerholdervtwo .wt-bannercontent .wt-title h1 span,.wt-bannercontent .wt-title h1 span{line-height:30px}
.wt-signupcontent .wt-title h2{font-size:40px;line-height:48px}
.wt-bannercontent .wt-bannerhead .wt-description p{font-size:16px;line-height:26px}
.wt-formbannervtwo .wt-searchbtn{border-radius:0 0 4px 0}
.woocommerce .woocommerce-ordering{float:left;width:100%;margin:20px 0}
.woocommerce div.product .woocommerce-tabs ul.tabs li{width:100%;border-radius:0}
.woocommerce div.product .woocommerce-tabs ul.tabs li+li{border-top:0}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce div.product .woocommerce-tabs ul.tabs li:before{display:none}
.woocommerce div.product form.cart .button{padding:0 30px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-right:30px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{border:1px solid #ddd}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .wt-formoptions .wt-dropdown{width:100%}
.wt-search-have.show-sform .wt-btn-remove-holder{top:50%;margin-top:-25px}
.wt-taskmodalcontent .modal-body{padding:30px 10px}
.post-job-detail .form-group.form-group-half{width:100%}
.wt-tabscontenttitle h2{width:100%}
.wt-tabscontenttitle h2+.wt-rightarea{float:left;margin-top:10px}
}@media(max-width:480px){.wt-proposalsrcontent.proposal-display-wrap > .wt-title{float: none;width: auto;} .wt-startsearch.wt-service-grids .wt-widgettitle h2{display:block}
.wt-startsearch.wt-service-grids .wt-widgettitle .dc-docsearch{float:left;margin-top:10px}
.wt-formlogin .form-group.wt-btnarea>span{padding:0;width:100%;margin:0 0 10px}
.wt-loginicon ul li{width:100%}
.wt-loginicon ul li+li{margin-top:10px}
.wt-loginpopup .wt-modalcontentvtwo .modal-footer .wt-loginfooterinfo a{width:100%}
.wt-loginpopup .wt-modalcontentvtwo .modal-footer .wt-loginfooterinfo a+a{border:0;border-top:1px solid #eee}
.wt-popup-footerterms{padding:23px 10px}
.wt-formcategory .form-group.form-group-label label+span{display:block;margin-top:10px}
.wt-userlistingcontent .wt-servicesrating .wt-stars{float:left}
.wcv-dashboard-navigation ~ table.table-vendor-sales-report thead tr{display:grid}
.woocommerce ul.products[class*=columns-] li.product,.woocommerce-page ul.products[class*=columns-] li.product{width:100%}
.wt-nativeholder .wt-howswork .wt-sectiontitle h2,.wt-nativeholder .wt-howswork .wt-sectiontitle h3{font-size:22px;line-height:26px}
.wt-appicons li{width:100%}
.wt-appicons li+li{margin:30px 0 0}
.wt-appicons li a img{width:auto;margin:0 auto}
.woocommerce div.product form.cart .variations td.label{min-width:60px}
.woocommerce div.product form.cart table.variations td{text-align:left}
.grouped_form .woocommerce-grouped-product-list .type-product{display:grid;min-width:270px}
.woocommerce .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label label{margin:0}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:0;text-align:left}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:0;padding-bottom:0}
.wt-articlesingle-content .wt-description .wp-block-media-text{display:block}
.wt-articlesingle-content .wt-description .wp-block-media-text .wp-block-media-text__content{padding:20px 0 0}
.wt-proposalsicon{padding:0 15px 0 0;margin:0 15px 0 0}
.wt-proposalsrcontent .wt-title h3{word-break:break-all;font-size:20px}
.wt-proposalsicon{font-size:30px}
.wt-proposalsrcontent .wt-title{float:left;width:100%}
.wt-categoryslidercontent{border:0}
.wt-formproposal .form-group-label .wt-labelgroup>span{margin:10px 0 0}
.sticky-queue{width:300px}
.wt-barandslider .owl-item+.owl-item figure{border:0;padding:0}
.wt-pagination ul li a.wt-nextpage,.wt-pagination ul li a.wt-nextpage,.wt-pagination ul li a i{font-size:12px}
.wt-teamholder{width:100%}
.wt-experiencecontent .wt-userlisting-breadcrumb li{width:100%;padding:0;border:0}
.wt-userlistingcontent .wt-stars{float:none;width:80px;margin:0 auto}
.wt-project{width:100%}
.wt-userprofileholder .wt-userdetails .wt-userlisting-breadcrumb li{padding:0;width:100%}
.wt-userprofileholder .wt-userdetails .wt-userlisting-breadcrumb li+li{border:0}
.wt-proposalholder .wt-userlisting-breadcrumb li{border:0;padding:0;width:100%;text-align:left}
.wt-userlistingholder .wt-pagination ul li{float:left}
.wt-pagination ul li span.post-page-numbers,.wt-userlistingholder .wt-pagination ul li a{width:30px;height:30px;float:left;line-height:30px}
.wt-articlesingle-content .wt-postarticlemeta li{width:100%;float:left;border:0;text-align:left;padding:0}
.wt-authorcontent{width:100%;float:left}
.wt-comments .children{padding-left:20px}
.wt-formleavecomment fieldset .form-group{width:100%}
.wt-tagsshare .wt-blogsocialicons li{padding:0 7px}
.wt-pagination ul li.wt-nextpage,.wt-pagination ul li{float:left}
.woo-pagination ul li span,.wt-pagination ul li a{height:30px;width:30px;float:left;line-height:30px}
.wt-accordiontitle span,.wt-accordionhold li{line-height:22px}
.wt-registerhead .wt-title h3{font-size:20px;line-height:24px}
.wt-joinsteps li{width:50%;margin:5px 0;float:left}
.wt-joinsteps li+li:after{left:-15px}
.wt-joinsteps li:nth-child(odd):after{display:none}
.wt-joinsteps li a{margin:0 auto}
.wt-titlebar h2{font-size:22px;line-height:24px}
.wt-signupcontent{padding:49px 0}
.wt-signupcontent .wt-title h2{font-size:30px;line-height:38px}
.wt-signupcontent .wt-btnarea a{display:block}
.wt-signupcontent .wt-btnarea a+a{margin:20px 0 0}
.wt-signupcontent{padding-left:0}
.wt-usernav ul li .sub-menu{right:0;z-index:1}
.wt-usernav ul li:hover .sub-menu{top:100%}
.wt-sectiontitle h2{font-size:26px;line-height:30px}
.wt-loginformhold{width:300px;right:-110px}
.wt-boxright{width:100%;margin-top:20px}
.wt-logininfo .wt-checkbox{margin:0;width:100%;padding-bottom:0}
.wt-boxright .wt-btnreply{float:left}
.woo-pagination ul li a i{line-height:28px}
.wt-userlogedin.sp-top-menu .menu-item-has-children .sub-menu{position:static;box-shadow:none;border-top:1px solid #eee;opacity:1;visibility:visible;display:none}
.wt-userlogedin.sp-top-menu .menu-item-has-children.wt-open:after{content:'\e874'}
.wt-userlogedin.sp-top-menu .menu-item-has-children .sub-menu{background:#fcfcfc}
.wt-popupactionbtn .wt-btn{width:100%}
.wt-popupactionbtn .wt-btn+.wt-btn{margin-top:10px}
	.wt-header .do-login-form .wt-joinnowholder{
		padding: 15px 20px;
		float: left;
		width: 100%;
		text-align: left;
	}
	.wt-iconwithtext li a,
	.wt-iconwithtext {
		text-align: left;
	}
	.wt-iconwithtext li {
		float: left;
		margin: 0;
		width: 100%;
	}
	.wt-iconwithtext li+li{
		margin:10px 0 0 0;
	}
}@media(max-width:479px){.wt-headernine .wt-navigationarea .wt-rightarea{width:auto}
.wt-headervfour .wt-userlogedin{max-width:180px}
.wt-headervfour .wt-navigationarea .wt-rightarea{width:auto}
.wt-navigationarea .wt-rightarea{width:100%}
.wt-userlogedin{max-width:210px}
.wt-loginarea{padding-left:10px}
.wt-loginarea .wt-loginbtn{margin-right:10px}
}@media(max-width:420px){.wt-mobile-close{right:283px}
.wt-filter-scroll{width:300px}
.workreap-header-v4 .wt-postbtn.wt-btn{padding:0 5px;margin-right:10px}
.workreap-header-v4 .wt-loginarea>.wt-btn{min-width:0;padding:0 5px}
.workreap-header-v4 .wt-headerbtn{width:34px;line-height:30px}
.wt-headersearch .wt-loginformhold{width:300px;margin-right:-150px}
.wt-bannerholderthree{height:850px}
.wt-taskmodalcontent .wt-tabscontenttitle .wt-rightarea .wt-on-off{width:100%;margin:0 0 10px}
.wt-formregister-step-two .wt-termsconditions .wt-checkboxholder .wt-btn{float:left;clear:both}
.wt-formregister-step-two .wt-termsconditions .wt-checkboxholder .wt-btn+.wt-btn{margin:10px 0 0}
.header-variation-two .wt-bannerholdervtwo .wt-bannercontent .wt-bannerhead{margin-top:100px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset{padding-right:20px}
.post-password-form p label input{width:100%;margin:10px 0 0}
.wt-formoptions .wt-searchbtn{position:static;border-radius:0 0 4px 4px}
.wt-formbannervtwo .wt-formoptions .wt-dropdown{padding-right:60px}
.wt-formbannervtwo .wt-formoptions .wt-searchbtn{position:absolute;border-radius:0 0 4px 0}
.wt-formoptions .wt-dropdown{padding-right:0}
.wt-radioholder{top:60px;width:100%}
.wt-formbannervtwo .wt-radioholder{top:100%}
.wt-searchbtn{width:100%;border-radius:0 0 4px 4px}
.wt-appicon li figure{width:100px}
.wt-accordiondetails{padding:30px 20px}
.wt-navarticletabvtwo li{width:100%}
.wt-articlecontent .wt-postarticlemeta li{width:100%;text-align:left;border:0}
.wt-articlecontent .wt-postarticlemeta li+li{border:0;padding-left:0;margin-top:10px}
.wt-userlistingcontent .wt-userlisting-breadcrumb li,.wt-userlisting .wt-contenthead .wt-userlisting-breadcrumb li{width:100%; padding-left: 0;}
.wt-userlistingcontent .wt-userlisting-breadcrumb li+li,.wt-userlisting .wt-contenthead .wt-userlisting-breadcrumb li+li{border-left:0}
.woocommerce-checkout .woocommerce .col2-set .col-1,.woocommerce-checkout.woocommerce-page .col2-set .col-1,.woocommerce-checkout .woocommerce .col2-set .col-2,.woocommerce-checkout.woocommerce-page .col2-set .col-2{padding:0}
.wt-boxed-section{padding:30px 25px}
.wt-videocontent{padding:0;width:100%;margin:20px 0 0}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{padding:0}
.wt-bannerholdervtwo .wt-formoptions>.wt-searchbtn{position:static;width:100%;border-radius:0 0 4px 4px}
.wt-bannerholdervtwo .wt-formoptions .wt-radioholder{top:120px;width:100%}
	
}@media(max-width:375px){body.registration-enabled .workreap-header-v4 .wt-navigationarea .wt-logo{float:none;margin:20px auto 10px}
.workreap-header-v4 .wt-headersearch{margin:21px 0}
.wt-headersearch .wt-loginformhold{right:auto;margin:0;left:0}
.workreap-header-v4 .wt-nav .navbar-toggler{padding:6px 7px}
.workreap-header-v4.wt-headernine .wt-heder-popup,.workreap-header-v4.wt-headernine .wt-nav{float:right}
.wt-headernine .wt-navigationarea .wt-rightarea{margin-top:0;width:100%}
body.registration-enabled .wt-headervfour .wt-loginarea{margin:3px 0 20px 0}
.wt-headervfour .wt-loginarea>.wt-btn,.wt-headervfour .wt-loginoptionvtwo .wt-btn{min-width:80px;padding:0 10px}
.wt-headervfour .wt-headersearch{margin:0}
body.registration-enabled .wt-headervfour .wt-navigationarea .wt-logo{float:none}
.wt-headervfour .wt-nav .navbar-toggler{margin:3px 0 3px 10px}
.wt-nav .navbar-toggler{margin-right:10px;margin-bottom:15px}
.tg-qrcodeimg{margin:0 0 10px}
.tg-qrcodedetail{padding:0;width:100%}
.wt-companysinfo .wt-postarticlemeta li{border:0;float:left;width:100%}
.wt-companysinfo .wt-postarticlemeta li+li{padding-top:5px;margin-top:5px;border-top:1px solid #adadad}
.woocommerce-MyAccount-content .wt-btn{width:100%;padding:0 10px}
body.registration-enabled .wt-navigationarea .wt-logo{float:left;margin:23px 0}
body.registration-enabled .wt-search-have .wt-respsonsive-search{position:absolute;top:0;right:0}
body.registration-enabled .wt-rightarea .wt-nav .navbar-toggler{margin-top:0}
body.registration-enabled .wt-loginarea{margin:0 0 20px 6px}
body.registration-enabled .wt-userlogedin{padding-top:0}
}@media(max-width:360px){.wt-userprofile figure{width:auto}
.wt-joinnowholder .wt-iconwithtext li+li{margin-left:0}
}.wt-freelancers-home>.wt-verticaltop:nth-child(n+1){margin-left:-3px!important;margin-right:-2px!important}
@media(min-width:992px){.wt-header .wt-navigation>ul>.page_item_has_children,.wt-header .wt-navigation>ul>.menu-item-has-children{padding:0 10px 0 0}
.wt-header .wt-navigation>ul>.page_item_has_children:after,.wt-header .wt-navigation>ul>.menu-item-has-children:after{right:0;color:#767676;z-index:1;width:20px;height:20px;cursor:pointer;font-size:12px;line-height:20px;position:absolute;text-align:center;display:block;background:none!important;top:50%;font-family:'Linearicons-Free';margin-top:-10px;content:"\e874"}
.workreap-header-v2.wt-header .wt-navigation>ul>.page_item_has_children:after,.workreap-header-v2.wt-header .wt-navigation>ul>.menu-item-has-children:after{color:#FFF}
}